@{
    ViewData["Title"] = "Activities Page";
}

<script>
    document.title = 'Corporate Activities & Knowledge Transfer || NWWC - National Water Works CO';
</script>


<link rel="stylesheet" type="text/css" href="css/career.css" />
 
<div class="blue-pattern">
    <!-- page-title -->
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-11">
                <div class="ttm-page-title-row ttm-bg ttm-bgimage-yes ttm-bgcolor-darkgrey clearfix custom-acti-banner">
                    <div class="ttm-row-wrapper-bg-layer ttm-bg-layer" style="border-radius: 7px;"></div>
                    <div class="container">
                        <div class="row align-items-center">
                            <div class="col-lg-12">
                                <div class="ttm-page-title-row-inner">
                                    <div class="page-title-heading">
                                        <h4 class="title lang" key="acti_mein">Corporate Activities & Knowledge Transfer</h4>
                                        <p class="text-light lang" key="acti_mein_des">NWWC participates in many marketing activities that support the company’s direction and vision, which are:</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <section class="our-application">
        <div class="container mt-5">
            <div class="row justify-content-center">
                <div class="col-md-11">
                    <div class="row pt-4">
                        <div class="col-lg-4 col-md-6">
                            <div class="new_ap_box application-box">
                                <img src="images/activities/e.jpeg" alt="">
                                <h5 class="alignment_solve lang" key="acti_head1">EXHIBITIONS</h5>
                                <p class="alignment_solve lang" key="acti_des1">
                                    Has a strategy of acting directly with clients. NWWC to display the products, systems, and services with full data to highlight the advantages and also to share the presence of our partner's delegation for under strategy of the market B2B with all concerned market players when they visit the booths usually NWWC participates in 2-3 events in Saudi under water and electrotechnical and building sectors.
                                </p>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="new_ap_box application-box">
                                <img src="images/activities/c.jpg" alt="">
                                <h5 class="alignment_solve lang" key="acti_head2">CONFERENCES</h5>
                                <p class="alignment_solve lang" key="acti_des2">
                                    For this type of activity, NWWC Management believes that updating sector trends and developing it is a must to be involved with NWWC staff plans, so the updated technology and services would be more active and also it is one of our know-hows to transit the market needs and plans to our international players.
                                </p>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="new_ap_box application-box">
                                <img src="images/activities/w.jpg" alt="">
                                <h5 class="alignment_solve lang" key="acti_head3">WORKSHOPS & SEMINARS</h5>
                                <p class="alignment_solve lang" key="acti_des3">
                                    NWWC has more than 20 brands active through the portfolio as a part of our business plan for every year we should extend the frequent awareness of our products directly to our clients, consultants, contractors, and engineers This type of activity will keep our market involved with our partners and service capability.
                                </p>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="new_ap_box application-box">
                                <img src="images/activities/i.jpg" alt="">
                                <h5 class="alignment_solve lang" key="acti_head4">INTERNAL TARINING</h5>
                                <p class="alignment_solve lang" key="acti_des4">
                                    Frequent training is our resource to keep the NWWC manpower on the level to serve our market and applications. We have our intended expertise who’s on confirmed training sessions for the staff in different working departments …also we use certified trainers and consultants for the new skills and practices
                                </p>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="new_ap_box application-box">
                                <img src="images/activities/f.jpg" alt="">
                                <h5 class="alignment_solve lang" key="acti_head5">FACTORY VISITS </h5>
                                <p class="alignment_solve lang" key="acti_des5">
                                    As NWWC represents the leaders of Electro-mech products all over the world, the factory visits make sense for those engineers & and consultants to be more confident of the quality and compliances of the manufacturing process. more over the training of services and maintenance and much delegated in the plants … so from time to time, we send our delegated also our client’s representatives to see all products live over the factories process for all products phases.
                                </p>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="new_ap_box application-box">
                                <img src="images/activities/s.jpg" alt="">
                                <h5 class="alignment_solve lang" key="acti_head6">SUMMER INTERSHIP</h5>
                                <p class="alignment_solve lang" key="acti_des6">
                                    Community engagement encompasses several aspects throughout the year. As a leading Saudi company in the field of pumping and water handling, with over 50 years of accumulated experience and more than 60 engineers in various specialties, the trust of universities, technical institutes, and engineering institutions in our practical expertise has led them to contract and rely on the National Water Company as an accredited company for university and professional training in mandatory summer courses for students, such as King Saud University, Al-Faisal University, and other technical colleges where dozens of students have been trained with many of them assuming important positions in engineering and technical work.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>






    <!--<div class="container">-->
    <!--    <div class="row justify-content-center">-->
    <!--        <div class="col-md-11">-->
    <!--            <section class="">-->
    <!--                <div class="row">-->
    <!--                    <div class="col-12">-->
    <!--                        <section class="train">-->
    <!--                            <div class="container">-->
    <!--                                <div class="row">-->
    <!--                                    <div class="col-12">-->
    <!--                                        <h3 class="grey-underline">Seminars</h3>-->
    <!--                                    </div>-->
    <!--                                </div>-->
    <!--                                <div class="row pt-3">-->
    <!--                                    <div class="col-12">-->
    <!--                                        <div style="--swiper-navigation-color: #fff; --swiper-pagination-color: #fff" class="swiper custommySwiper">-->
    <!--                                            <div class="swiper-wrapper">-->
    <!--                                                <div class="swiper-slide">-->
    <!--                                                    <img class="w-100" src="images/seminar/1.png"/>-->
    <!--                                                </div>-->
    <!--                                                <div class="swiper-slide">-->
    <!--                                                    <img class="w-100" src="images/seminar/2.png"/>-->
    <!--                                                </div>-->
    <!--                                                <div class="swiper-slide">-->
    <!--                                                    <img class="w-100" src="images/seminar/3.png"/>-->
    <!--                                                </div>-->
    <!--                                                <div class="swiper-slide">-->
    <!--                                                    <img class="w-100" src="images/seminar/4.png"/>-->
    <!--                                                </div>-->
    <!--                                                <div class="swiper-slide">-->
    <!--                                                    <img class="w-100" src="images/seminar/5.png"/>-->
    <!--                                                </div>-->
    <!--                                                <div class="swiper-slide">-->
    <!--                                                    <img class="w-100" src="images/seminar/6.png"/>-->
    <!--                                                </div>-->
    <!--                                                <div class="swiper-slide">-->
    <!--                                                    <img class="w-100" src="images/seminar/7.png"/>-->
    <!--                                                </div>-->
    <!--                                                <div class="swiper-slide">-->
    <!--                                                    <img class="w-100" src="images/seminar/8.png"/>-->
    <!--                                                </div>-->
    <!--                                                <div class="swiper-slide">-->
    <!--                                                    <img class="w-100" src="images/seminar/9.png"/>-->
    <!--                                                </div>-->
    <!--                                                <div class="swiper-slide">-->
    <!--                                                    <img class="w-100" src="images/seminar/10.png"/>-->
    <!--                                                </div>-->
    <!--                                                <div class="swiper-slide">-->
    <!--                                                    <img class="w-100" src="images/seminar/11.png"/>-->
    <!--                                                </div>-->
    <!--                                                <div class="swiper-slide">-->
    <!--                                                    <img class="w-100" src="images/seminar/12.png"/>-->
    <!--                                                </div>-->
    <!--                                            </div>-->
    <!--                                            <div class="swiper-button-next"></div>-->
    <!--                                            <div class="swiper-button-prev"></div>-->
    <!--                                        </div>-->
    <!--                                    </div>-->
    <!--                                </div>-->
    <!--                            </div>-->
    <!--                        </section>-->
    <!--                    </div>-->
    <!--                </div>-->
    <!--            </section>-->
    <!--        </div>-->
    <!--    </div>-->
    <!--</div>-->









    <div class="container mb-5">
        <div class="row justify-content-center">
            <div class="col-md-11">
                <section class="">
                    <div class="row">
                        <div class="col-12 px-0">
                            <section class="train">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-12">
                                            <!-- <h3 class="grey-underline">NWWC's Certificates</h3> -->
                                        </div>
                                    </div>
                                    <div class="row pt-3">
                                        <div class="col-12">
                                            <!-- <div class="row align-items-center">
                                                <div class="col-lg-3 col-sm-6">
                                                    <img class="rounded" style="object-fit: contain; width: 100%" src="images/cer/1.png"/>
                                                </div>
                                                <div class="col-lg-3 col-sm-6">
                                                    <img class="rounded" style="object-fit: contain; width: 100%" src="images/cer/2.png"/>
                                                </div>
                                                <div class="col-lg-3 col-sm-6">
                                                    <img class="rounded" style="object-fit: contain; width: 100%" src="images/cer/4.png"/>
                                                </div>
                                                <div class="col-lg-3 col-sm-6">
                                                    <img class="rounded" style="object-fit: contain; width: 100%" src="images/cer/5.png"/>
                                                </div>
                                            </div> -->
                                            <!-- <div style="--swiper-navigation-color: #fff; --swiper-pagination-color: #fff" class="swiper cermySwiper">
                                                <div class="swiper-wrapper">
                                                    <div class="swiper-slide">
                                                        <img class="w-100" src="images/cer/1.png"/>
                                                    </div>
                                                    <div class="swiper-slide">
                                                        <img class="w-100" src="images/cer/2.png"/>
                                                    </div>
                                                    <div class="swiper-slide">
                                                        <img class="w-100" src="images/cer/4.png"/>
                                                    </div>
                                                    <div class="swiper-slide">
                                                        <img class="w-100" src="images/cer/5.png"/>
                                                    </div>
                                                </div>
                                                <div class="swiper-button-next"></div>
                                                <div class="swiper-button-prev"></div>
                                            </div> -->
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>





    <!-- <div class="container mb-5">
        <div class="row justify-content-center">
            <div class="col-md-11">
                <section class="train">
                    <div class="row">
                        <div class="col-12">
                            <h3 class="grey-underline">Nwwc Empolyees Certificate</h3>
                            <div class="row align-items-center pt-3 justify-content-between">
                                <div class="col-lg-3 col-sm-6">
                                    <img src="images/emp/1.png" class="img-fluid">
                                </div>
                                <div class="col-lg-3 col-sm-6 pt-3 pt-sm-0" >
                                    <img src="images/emp/2.png" class="img-fluid">
                                </div>
                                <div class="col-lg-3 col-sm-6 pt-3 pt-lg-0">
                                    <img src="images/emp/3.png" class="img-fluid">
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div> -->
    <!--padding_top_zer1o-section-->
    <!--padding_top_zero-section end-->


</div>














<script src="https://www.thecodeicon.com/js/jquery.js"></script>

<script>
    $(window).on("scroll", function () {
        if (matchMedia('only screen and (min-width: 1200px)').matches) {
            if ($(window).scrollTop() >= 50) {

                $('.ttm-stickable-header').addClass('fixed-header');
            } else {

                $('.ttm-stickable-header').removeClass('fixed-header');
            }
        }
    });

    $('#about').addClass('header-mennu-active');
</script>




<script>
    var swiper = new Swiper(".custommySwiper", {
        navigation: {
            nextEl: ".swiper-button-next",
            prevEl: ".swiper-button-prev",
        },
        breakpoints: {
            // when window width is >= 320px
            200: {
                slidesPerView: 1,
                spaceBetween: 20
            },
            // when window width is >= 480px
            575: {
                slidesPerView: 2,
                spaceBetween: 30
            },
            // when window width is >= 640px
            991: {
                slidesPerView: 3,
                spaceBetween: 40
            }
        }
    });



    var swiper = new Swiper(".cermySwiper", {
        navigation: {
            nextEl: ".swiper-button-next",
            prevEl: ".swiper-button-prev",
        },
    });
</script>