@{
    ViewData["Title"] = "Admin Login";
}

<script>
    document.title = 'Admin Login || NWWC - National Water Works CO';
</script>


<link rel="stylesheet" type="text/css" href="css/career.css" />

<div class="blue-pattern">
    <!--site-main start-->
    <div class="site-main">


        <!-- conatct-section -->
        <section class="py-5 conatct-section ttm-bgcolor-grey clearfix">
            <div class="container contact">
                <div class="row justify-content-center">
                    <div class="col-md-11">
                        <!-- row end -->
                        <div class="row my-5 justify-content-center align-items-center">
                            <div class="col-lg-6">
                                <div class="ttm-bgcolor-white p-40 padding_top35 border-rad_5 margin_top15"
                                     style="background: #f5fbfdd6">
                                    <h3>Login</h3>
                                    <p>
                                        Secure admin login providing access to system controls, authentication, and configuration with robust protection against unauthorized access and potential security threats.
                                    </p>
                                    <form id="request_qoute_form" class="request_qoute_form wrap-form clearfix"
                                          method="post" novalidate="novalidate" action="#">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <span class="text-input">
                                                    <input name="name" type="text" value=""
                                                           placeholder="Your Email*" required="required">
                                                </span>
                                            </div>
                                            <div class="col-md-12">
                                                <span class="text-input">
                                                    <input name="email" type="password" value=""
                                                           placeholder="Your Password*" required="required">
                                                </span>
                                            </div>
                                            <div class="col-lg-12 d-flex justify-content-end">
                                                <div style="overflow: hidden;"
                                                     class="res-767-margin_top30 margin_bottom0 res-991-margin_bottom0"
                                                     data-animation="fadeInUp" data-delay="1.4">
                                                    <a href="#" style="background: #0070cd !important; border-color: #0070cd;"
                                                       class="drop-in px-3 py-2 ttm-btn ttm-btn-size-md ttm-btn-style-fill ttm-btn-shape-rounded ttm-btn-color-dark">Login</a>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- conatct-section end -->


    </div>
    <!--site-main end-->
</div>

