<link rel="stylesheet" type="text/css" href="css/career.css" />



<script>
    document.title = 'Apply || NWWC - National Water Works CO';
</script>
<div class="blue-pattern">
    <!-- page-title -->
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-11">
                <div class="ttm-page-title-row ttm-bg ttm-bgimage-yes ttm-bgcolor-darkgrey clearfix custom-career">
                    <div class="ttm-row-wrapper-bg-layer ttm-bg-layer" style="border-radius: 8px;"> </div>
                    <div class="container">
                        <div class="row align-items-center">
                            <div class="col-lg-12">
                                <div class="ttm-page-title-row-inner">
                                    <div class="page-title-heading">
                                        <h4 class="title">Applys</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- page-title end -->
    <!--site-main start-->
    <div class="site-main">


        <!-- conatct-section -->
        <section class="pb-5 mb-5 conatct-section ttm-bgcolor-grey clearfix">
            <div class="container career">
                <div class="row justify-content-center"> 
                    <div class="col-md-11">
                        <!-- row end -->
                        <div class="row align-items-center">
                            <div class="col-lg-12">
                                <div class="ttm-bgcolor-white p-20 padding_top35 border-rad_5 margin_top15" style="background: #f7f7f7 !important;">
                                    <h4>New Job Posting</h4>
                                    <form id="request_qoute_form" class="request_qoute_form wrap-form clearfix" method="post" novalidate="novalidate" action="#">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <span class="text-input"><input name="name" type="text" value="" placeholder="First Name*" required="required"></span>
                                            </div>
                                            <div class="col-md-4">
                                                <span class="text-input"><input name="name" type="text" value="" placeholder="Second Name*" required="required"></span>
                                            </div>
                                            <div class="col-md-4">
                                                <span class="text-input"><input name="name" type="text" value="" placeholder="Last Name*" required="required"></span>
                                            </div>
                                            <div class="col-md-12 mt-2 mb-3">
                                                <select style="background: #eff3ff; border: none !important; border-radius:5px !important;">
                                                    <option value="0">Select Gender*</option>
                                                    <option value="1">Male</option>
                                                    <option value="2">Female</option>
                                                    <option value="3">Other</option>
                                                </select>
                                            </div>
                                            <div class="col-md-4">
                                                <span class="text-input"><input name="address" type="text" value="" placeholder="Your Email*" required="required"></span>
                                            </div>
                                            <div class="col-md-4">
                                                <span class="text-input"><input name="phone" type="text" value="" placeholder="Phone Number*" required="required"></span>
                                            </div>
                                            <div class="col-md-4">
                                                <span class="text-input"><input name="" type="text" value="" placeholder="City*" required="required"></span>
                                            </div>
                                            <div class="col-md-12 mt-2 mb-3">
                                                <select name="ctl00$CphMain$ddlNationality" style="background: #eff3ff; border: none !important; border-radius:5px !important;" id="CphMain_ddlNationality">
                                                    <option value="-1"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Select Nationality*</font></font></option>
                                                    <option value="1"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Aruba</font></font></option>
                                                    <option value="2"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Ethiopia</font></font></option>
                                                    <option value="3"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Azerbaijan</font></font></option>
                                                    <option value="4"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Armenia</font></font></option>
                                                    <option value="5"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Eritrea</font></font></option>
                                                    <option value="6"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Spain</font></font></option>
                                                    <option value="7"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Australia</font></font></option>
                                                    <option value="8"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Estonia</font></font></option>
                                                    <option value="9"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Scotland</font></font></option>
                                                    <option value="10"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Afghanistan</font></font></option>
                                                    <option value="11"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Palestine</font></font></option>
                                                    <option value="12"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Argentina</font></font></option>
                                                    <option value="13"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Jordan</font></font></option>
                                                    <option value="14"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Ecuador</font></font></option>
                                                    <option value="15"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">The United Arab Emirates</font></font></option>
                                                    <option value="16"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Albania</font></font></option>
                                                    <option value="17"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Bahamas</font></font></option>
                                                    <option value="18"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">the two seas</font></font></option>
                                                    <option value="19"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Brazil</font></font></option>
                                                    <option value="20"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Portugal</font></font></option>
                                                    <option value="21"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Bosnia and Herzegovina</font></font></option>
                                                    <option value="22"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Gabon</font></font></option>
                                                    <option value="23"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">the black Mountain</font></font></option>
                                                    <option value="24"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Algeria</font></font></option>
                                                    <option value="25"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Denmark</font></font></option>
                                                    <option value="26"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">green head</font></font></option>
                                                    <option value="27"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">El Salvador</font></font></option>
                                                    <option value="28"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Senegal</font></font></option>
                                                    <option value="29"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Sudan</font></font></option>
                                                    <option value="30"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Sweden</font></font></option>
                                                    <option value="31"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Somalia</font></font></option>
                                                    <option value="32"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">China</font></font></option>
                                                    <option value="33"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Iraq</font></font></option>
                                                    <option value="34"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Vatican</font></font></option>
                                                    <option value="35"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">The Philippines</font></font></option>
                                                    <option value="36"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Cameroon</font></font></option>
                                                    <option value="37"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Congo - Brazzaville</font></font></option>
                                                    <option value="38"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Congo - Kinshasa</font></font></option>
                                                    <option value="39"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Kuwait</font></font></option>
                                                    <option value="40"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Germany</font></font></option>
                                                    <option value="152"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">north korea</font></font></option>
                                                    <option value="153"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Costa Rica</font></font></option>
                                                    <option value="154"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Kosovo</font></font></option>
                                                    <option value="155"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Colombia</font></font></option>
                                                    <option value="156"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Kiribati</font></font></option>
                                                    <option value="157"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Kenya</font></font></option>
                                                    <option value="158"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Latvia</font></font></option>
                                                    <option value="159"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Laos</font></font></option>
                                                    <option value="160"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Lebanon</font></font></option>
                                                    <option value="161"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Luxembourg</font></font></option>
                                                    <option value="162"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Libya</font></font></option>
                                                    <option value="163"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Liberia</font></font></option>
                                                    <option value="164"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Lithuania</font></font></option>
                                                    <option value="165"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Malta</font></font></option>
                                                    <option value="166"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Financial</font></font></option>
                                                    <option value="167"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Malaysia</font></font></option>
                                                    <option value="168"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Madagascar</font></font></option>
                                                    <option value="169"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Egypt</font></font></option>
                                                    <option value="170"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Macedonia</font></font></option>
                                                    <option value="171"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Malawi</font></font></option>
                                                    <option value="172"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Mongolia</font></font></option>
                                                    <option value="173"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Mauritania</font></font></option>
                                                    <option value="174"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Mauritius</font></font></option>
                                                    <option value="175"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Mozambique</font></font></option>
                                                    <option value="176"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Moldavia</font></font></option>
                                                    <option value="177"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Monaco</font></font></option>
                                                    <option value="178"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Myanmar - Burma</font></font></option>
                                                    <option value="179"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Namibia</font></font></option>
                                                    <option value="180"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Nepal</font></font></option>
                                                    <option value="181"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Nigeria</font></font></option>
                                                    <option value="182"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Nicaragua</font></font></option>
                                                    <option value="183"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">New Zealand</font></font></option>
                                                    <option value="184"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Haiti</font></font></option>
                                                    <option value="185"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Honduras</font></font></option>
                                                    <option value="186"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Hungary</font></font></option>
                                                    <option value="187"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Holland</font></font></option>
                                                    <option value="188"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Yugoslavia</font></font></option>
                                                    <option value="189"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Turkestan</font></font></option>
                                                </select>
                                            </div>

                                            <div class="col-md-4">
                                                <span class="text-input"><input name="" type="text" value="" placeholder="Specialization*" required="required"></span>
                                            </div>
                                            <div class="col-md-4">
                                                <span class="text-input"><input name="" type="text" value="" placeholder="Appreciation*" required="required"></span>
                                            </div>
                                            <div class="col-md-4">
                                                <span class="text-input"><input name="" type="text" value="" placeholder="Graduation Year*" required="required"></span>
                                            </div>
                                            <div class="col-md-12 mt-2 mb-3">
                                                <select name="ctl00$CphMain$ddlDegree" id="CphMain_ddlDegree" style="background: #eff3ff; border: none !important; border-radius:5px !important;">
                                                    <option value="0"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Select Education*</font></font></option>
                                                    <option value="1"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Primary education</font></font></option>
                                                    <option value="2"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Secondary education or high school</font></font></option>
                                                    <option value="3"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Bachelors degree</font></font></option>
                                                    <option value="4"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Masters degree</font></font></option>
                                                    <option value="5"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Doctorate or higher</font></font></option>
                                                </select>
                                            </div>
                                            <div class="col-md-4">
                                                <span class="text-input"><input name="" type="text" value="" placeholder="Job Title*" required="required"></span>
                                            </div>
                                            <div class="col-md-4">
                                                <span class="text-input"><input name="" type="text" value="" placeholder="Years of Experience*" required="required"></span>
                                            </div>
                                            <div class="col-md-4">
                                                <span class="text-input"><input name="" type="text" value="" placeholder="Current Salary*" required="required"></span>
                                            </div>
                                            <div class="col-lg-12">
                                                <span class="text-input"><textarea name="message" rows="5" placeholder="Message" required="required"></textarea></span>
                                            </div>
                                            <div class="form-group col-12 d-flex justify-content-end">
                                                <input type="file" name="ctl00$CphMain$FuThumb11" id="CphMain_FuThumb11" class="fomr-control" required="" accept=".doc,.docx,application/pdf" style="display: none">
                                                <font style="vertical-align: inherit;"><font style="vertical-align: inherit;"><input style="background: #0070cd; border-radius: 7px;" name="ctl00$CphMain$btnUpload" type="button" id="CphMain_btnUpload" class="button" onclick="$(&quot;#CphMain_FuThumb11&quot;).click()" value="Attach your resume"></font></font>
                                                <span id="spnName"></span>
                                                <span id="CphMain_ctl20" class="text-danger" style="visibility:hidden;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">*</font></font></span>
                                            </div>
                                            <div class="col-lg-12">
                                                <div style="overflow: hidden;" class="res-767-margin_top30 margin_bottom0 res-991-margin_bottom0" data-animation="fadeInUp" data-delay="1.4">
                                                    <a href="#" style="background: #0070cd !important; border-color: #0070cd;" class="drop-in px-3 py-2 ttm-btn ttm-btn-size-md ttm-btn-style-fill ttm-btn-shape-rounded ttm-btn-color-dark">Submit</a>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- conatct-section end -->


    </div><!--site-main end-->
</div>


<script src="js/jquery.js"></script>
<script>
    $(window).on("scroll", function () {
        if (matchMedia('only screen and (min-width: 1200px)').matches) {
            if ($(window).scrollTop() >= 50) {

                $('.ttm-stickable-header').addClass('fixed-header');
            } else {

                $('.ttm-stickable-header').removeClass('fixed-header');
            }
        }
    });

    $('#career').addClass('header-mennu-active');
</script>