

<script>
    document.title = 'Blog Detail || NWWC - National Water Works CO';
</script>

<link rel="stylesheet" type="text/css" href="css/career.css" />
 
<!-- page-title --> 
<div class="container">
    <div class="ttm-page-title-row ttm-bg ttm-bgimage-yes ttm-bgcolor-darkgrey clearfix custom-blog-banner">
        <div class="ttm-row-wrapper-bg-layer ttm-bg-layer" style="border-radius: 7px;"></div>
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-12">
                    <div class="ttm-page-title-row-inner">
                        <div class="page-title-heading">
                            <h4 class="title lang" key="blog_detail">Blog Detail</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- page-title end -->
<style>
    .custom_b a::before {
        display: none !important;
    }

    .custom_b a {
        padding-left: 0 !important;
    }
</style>

<!--site-main start-->
<div class="site-main">


    <div class="ttm-row sidebar ttm-sidebar-right clearfix">
        <div class="container custom-content-blog">
            <!-- row -->
            <div class="row">
                <div class="col-lg-8 content-area">
                    <!-- post --><article class="post ttm-blog-single clearfix">
                        <!-- post-featured-wrapper -->
                        <div class="ttm-post-featured-wrapper ttm-featured-wrapper">
                            <div class="ttm-post-featured">
                                <img class="img-fluid" src="images/blog/2.png" alt="">
                            </div>
                        </div><!-- post-featured-wrapper end -->
                        <!-- ttm-blog-classic-content -->
                        <div class="ttm-blog-single-content">
                            <div class="ttm-post-entry-header">
                                <div class="post-meta">
                                    <span class="ttm-meta-line byline lang" key="admin"><i class="fa fa-user"></i>Admin</span>
                                    <span class="ttm-meta-line category lang" key="second_head"><i class="fa fa-folder"></i>Big 5 2024</span>
                                    <span class="ttm-meta-line date lang" key="second_date"><i class="fa fa-calendar"></i>Feb 29, 2024</span>
                                </div>
                            </div>
                            <div class="entry-content">
                                <div class="alignment_solve ttm-box-desc-text">
                                    <h3 class="lang" key="second_mein_head">Connecting the construction industry in Saudi Arabia</h3>
                                    <p class="lang" key="second_des1">
                                        Launched in 2010 with a mission to fully equip Saudi Arabia’s construction sector amidst its huge development plans, Big 5 Construct Saudi is the Kingdom’s leading construction event.
                                    </p>
                                    <p class="lang" key="second_des2">
                                        Now taking place in Riyadh, Big 5 Construct Saudi continues to serve as a true testament to the country’s growing attractiveness in the global construction arena, bringing together industry players in support of the Kingdom’s ambitious Vision 2030 objectives.
                                    </p>
                                    <p class="lang" key="second_des3">
                                        Co-located with HVAC R Expo Saudi, Stone & Surface Saudi Arabia, FM Expo Saudi, Windows, Doors & Facades, and Saudi Glass, the event showcases products from the complete construction cycle in one place, at one time.
                                    </p>
                                    <p class="lang" key="second_des4">
                                        Developed for the industry by listening to the industry, Big 5 Construct Saudi brings Big 5 brand’s 40+ years of experience and success to the Kingdom’s bustling construction and infrastructure projects market.
                                    </p>
                                </div>
                            </div>
                        </div><!-- ttm-blog-classic-content end -->
                        <div class="ttm-blog-classic-box-comment clearfix">
                            <div id="comments" class="comments-area">
                                <div class="comment-respond">
                                    <h3 class="alignment_solve comment-reply-title lang" key="reply">Leave a Reply</h3>
                                    <p class="alignment_solve comment-notes lang" key="reply_des">Your email address will not be published. </p>
                                    <form action="#" method="post" id="commentform" class="comment-form">
                                        <p class="comment-form-comment">
                                            <textarea id="comment" placeholder="Comment" name="comment" cols="45" rows="7" aria-required="true"></textarea>
                                        </p>
                                        <p class="comment-form-author">
                                            <input id="author" placeholder="Name (required)" name="author" type="text" value="" size="30" aria-required="true">
                                        </p>
                                        <p class="comment-form-email">
                                            <input id="email" placeholder="Email (required)" name="email" type="text" value="" size="30" aria-required="true">
                                        </p>
                                        <p class="comment-form-url">
                                            <input id="url" placeholder="Website" name="url" type="text" value="" size="30">
                                        </p>
                                        <p class="comment-cookies">
                                            <input id="comment-cookies-consent" name="comment-cookies-consent" type="checkbox" value="yes">
                                            <label for="comment-cookies-consent" class="lang" key="reply_des2">Save my name, email, and website in this browser for the next time I comment.</label>
                                        </p>
                                        <p class="form-submit margin_top30 margin_bottom0">
                                            <button class="submit ttm-btn ttm-btn-size-md ttm-btn-shape-rounded ttm-btn-style-border ttm-btn-color-dark lang" key="post" type="submit">Post Comment</button>
                                        </p>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </article><!-- post end -->
                </div>
                <div class="col-lg-4 widget-area sidebar-right">
                    <aside class="widget widget-search with-title p-3">
                        <form role="search" method="get" class="search-form" action="#">
                            <label>
                                <span class="screen-reader-text">Search for:</span>
                                <input type="search" class="input-text" placeholder="Search for …" value="" name="s">
                            </label>
                            <button class="btn ttm-btn ttm-btn-size-md ttm-btn-shape-square ttm-btn-style-fill ttm-btn-color-skincolor" type="submit"><i class="fa fa-search"></i> </button>
                        </form>
                    </aside>
                    <aside class="widget widget-recent-post with-title p-3">
                        <h3 class="widget-title lang" key="blog_recnt">Recent Posts</h3>
                        <ul class="widget-post ttm-recent-post-list">
                            <li>
                                <a href="blog_single_first"><img class="img-fluid" src="images/blog/1.png" alt="post-img"></a>
                                <div class="post-detail">
                                    <span class="post-date lang" key="blog_recnt_date1"><i class="fa fa-calendar"></i>Mar 18, 2022</span>
                                    <a href="blog-single-first" class="lang" key="blog_recnt_head1">Saudi Water Forum SWF 2022</a>
                                </div>
                            </li>
                            <li>
                                <a href="blog_single_second"><img class="img-fluid" style="object-fit: cover !important;" src="images/blog/2.png" alt="post-img"></a>
                                <div class="post-detail">
                                    <span class="post-date lang" key="blog_recnt_date2"><i class="fa fa-calendar"></i>Feb 29, 2024</span>
                                    <a href="blog-single-second" class="lang" key="blog_recnt_head2">Connecting The Construction Industry</a>
                                </div>
                            </li>
                            <li>
                                <a href="blog_single_three"><img class="img-fluid" src="images/blog/3.png" alt="post-img"></a>
                                <div class="post-detail">
                                    <span class="post-date lang" key="blog_recnt_date3"><i class="fa fa-calendar"></i>Sep 9, 2021</span>
                                    <a href="blog-single-three" class="lang" key="blog_recnt_head3">Connecting The Water Sector</a>
                                </div>
                            </li>
                        </ul>
                    </aside>
                    <aside class="widget widget-banner with-title">
                        <div class="ttm-col-bgcolor-yes ttm-bgcolor-darkgrey col-bg-img-seven ttm-col-bgimage-yes ttm-bg">
                            <div class="ttm-col-wrapper-bg-layer ttm-bg-layer">
                                <div class="ttm-col-wrapper-bg-layer-inner"></div>
                            </div>
                            <div class="layer-content text-center">
                                <div class="ttm-icon ttm-icon_element-onlytxt ttm-icon_element-style-round ttm-icon_element-color-skincolor ttm-icon_element-size-xl">
                                    <i class="fa fa-comments-o text-white"></i>
                                </div>
                                <h3 class="lang" key="do_you">Do You Need Any Help?</h3>
                                <div class="ttm-horizontal_sep width-100 margin_top20 margin_bottom20"></div>
                                <ul>
                                    <li class="lang" key="number">+966 (11) 2088558</li>
                                    <li class="lang" key="email">info@nwwc.com.sa</li>
                                </ul>
                                <a key="appointment" class="blue_bg lang ttm-btn ttm-btn-size-md ttm-btn-shape-rounded ttm-btn-style-fill ttm-btn-color-skincolor" href="contact">appoinments!</a>
                            </div>
                        </div>
                    </aside>
                </div>
            </div><!-- row end -->
        </div>
    </div>


</div><!--site-main end-->
  