@{
    ViewData["Title"] = "Company Page";
}

<script>
    document.title = 'Our Comapany || NWWC - National Water Works CO';
</script>


<link rel="stylesheet" type="text/css" href="css/career.css" />

<div class="blue-pattern">
    <!-- page-title -->
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-11">
                <div class="ttm-page-title-row ttm-bg ttm-bgimage-yes ttm-bgcolor-darkgrey clearfix custom-company-banner">
                    <div class="ttm-row-wrapper-bg-layer ttm-bg-layer" style="border-radius: 7px;"></div>
                    <div class="container">
                        <div class="row align-items-center">
                            <div class="col-lg-12">
                                <div class="ttm-page-title-row-inner">
                                    <div class="page-title-heading">
                                        <h4 class="title lang" key="company">Our Company</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- page-title end -->



    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-11">
                <section class="ttm-row padding_zero-section bg-layer-equal-height clearfix our-company">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12 px-0">
                                <div class="row no-gutters align-items-center">
                                    <div class="col-lg-6 pt-3 pt-lg-0">
                                        <div class=" custom-up-img mr-0 mr-lg-3 ttm-bg ttm-col-bgcolor-yes ttm-bg ttm-left-span">
                                            <div class="layer-content">
                                                <!-- section title -->
                                                <div class="alignment_solve section-title">
                                                    <div class="title-header pb-0">
                                                        <h5 class="alignment_solve grey-underline lang" key="company">Our Company</h5>
                                                        <h2 class="alignment_solve title pt-2 lang" key="company_water">Your Water <br> Industries Partner. </h2>
                                                    </div>
                                                    <div class="title-desc">
                                                        <p class="alignment_solve lang" key="company_water_des">NWWC is a leading EM Saudi company for water and waste water projects operating with international and local manufacturers to provide comprehensive engineering solutions to meet customer requirements both standard or tailor-made plants covering services, partial works and turnkey projects.</p>
                                                    </div>
                                                    <a href="contact_us" key="home_contact" style="font-size: 13px; background: #0070cd !important; border-color: #0070cd;" class="alignment_solve lang px-2 py-1 ttm-btn ttm-btn-size-md ttm-btn-style-fill ttm-btn-shape-rounded ttm-btn-color-dark">Contact us</a>
                                                </div>
                                                <!-- section title end -->
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <!-- col-img-img-nine -->
                                        <div class="custom-bg">
                                            <div class="swiper mySwiper404">
                                                <div class="swiper-wrapper">
                                                    <div class="swiper-slide"><img src="images/com_new/1.jpg"></div>
                                                    <div class="swiper-slide"><img src="images/newe.jpeg"></div>
                                                    <div class="swiper-slide"><img src="images/com_new/3.jpg"></div>
                                                    <div class="swiper-slide"><img src="images/com_new/4.jpg"></div>
                                                </div>
                                                <div class="swiper-pagination"></div>
                                            </div>
                                            <!-- <img src="images/4img.png"> -->
                                        </div>
                                        <!-- col-img-bg-img-nine end-->
                                    </div>
                                </div><!-- row end -->
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>




    <div class="container mb-5 pb-5">
        <div class="row justify-content-center">
            <div class="col-md-11">
                <div class="row align-items-start">
                    <div class="col-md-6">
                        <section class="mr-md-2 mr-0 our-speciality">
                            <div class="container">
                                <div class="row">
                                    <div class="alignment_solve col-12">
                                        <h4 class="alignment_solve grey-underline lang" key="company_specail">Our Speciality </h4>
                                    </div>
                                </div>
                                <div class="row pt-2">
                                    <div class="col-md-12">
                                        <p class="alignment_solve lang" key="company_speacil_des1">
                                            We provide innovative engineering services and solutions with continuous improvement to maintain competences and commercial competitiveness thus are considered by the water sector stakeholders and operating bodies as a good choice.
                                        </p>
                                        <p class="alignment_solve pt-3 lang" key="company_speacil_des2">
                                            We provide high quality products and totally integrated pumping solutions to meet our clients, contractors and consultants demands and expectations.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                    <div class="col-md-6 pt-4 pt-md-0 pl-md-0 pl-3">
                        <section class="al-mousa">
                            <div class="container">
                                <div class="row">
                                    <div class="alignment_solve col-12">
                                        <a target="_blank" href=""><h4 class="alignment_solve grey-underline lang" key="company_sister">NWWC Sister Companies</h4></a>
                                        <div class="row pt-2">
                                            <div class="col-sm-12">
                                                <div class="row">
                                                    <div class="col-lg-6">
                                                        <a target="_blank" href="https://thefirstbasics.com/"><img src="images/group1.png"></a>
                                                    </div>
                                                    <div class="col-lg-6">
                                                        <a target="_blank" href="https://newc.sa/"><img src="images/group2.png"></a>
                                                    </div>
                                                    <div class="col-lg-6">
                                                        <a target="_blank" href=""><img src="images/nmi.png"></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>









<script src="https://www.thecodeicon.com/js/jquery.js"></script>

<script>
    $(window).on("scroll", function () {
        if (matchMedia('only screen and (min-width: 1200px)').matches) {
            if ($(window).scrollTop() >= 50) {

                $('.ttm-stickable-header').addClass('fixed-header');
            } else {

                $('.ttm-stickable-header').removeClass('fixed-header');
            }
        }
    });

    $('#about').addClass('header-mennu-active');
</script>


<script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
<!-- Initialize Swiper -->
<script>
    var swiper = new Swiper(".mySwiper404", {
        autoplay: {
            delay: 2500,
            disableOnInteraction: false,
        },
        pagination: {
            el: ".swiper-pagination",
        },
    });
</script>