
<link rel="stylesheet" type="text/css" href="css/event.css" />
<link rel="stylesheet" type="text/css" href="css/career.css" />
<script>document.title = '2023 Event || NWWC - National Water Works CO';</script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css" />


<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-11">
            <div class="ttm-page-title-row ttm-bg ttm-bgimage-yes ttm-bgcolor-darkgrey clearfix custom-event-banner">
                <div class="ttm-row-wrapper-bg-layer ttm-bg-layer" style="border-radius: 7px;"></div>
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-lg-12">
                            <div class="ttm-page-title-row-inner">
                                <div class="page-title-heading">
                                    <h4 class="title lang" key="event_2023">Our 2023 Events</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<section class="custom-slider">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-11">
                <div class="row">
                    <div class="col-lg-12 px-0">
                        <div class="custom-height">
                            <!--1-->
                            <div id="tab-1" class="tab-content current">
                                <!--1-->
                                <div class="row">
                                    <div class="col-12">
                                        <h5 class="alignment_solve lang" key="event_2023_head1">NWWC & SEEPEX SEMINAR AT 17 OCT 2023-RIYADH</h5>
                                    </div>
                                </div>
                                <div class="row align-items-center">
                                    <div class="col-md-6">
                                        <div class="view-box">
                                            <img src="images/events/2023/one/1.jpg" id="slider_one_main_image" Current="1">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <!-- Swiper -->
                                        <div class="swiper mySwiper">
                                            <div class="swiper-wrapper justify-content-center">
                                                <div class="s-s">
                                                    <img src="images/events/2023/one/1.jpg" class="slider_one_image slider_one_image_1" No="1">
                                                </div>
                                                <div class="s-s">
                                                    <img src="images/events/2023/one/2.jpg" class="slider_one_image slider_one_image_2" No="2">
                                                </div>
                                                <div class="s-s">
                                                    <img src="images/events/2023/one/3.jpg" class="slider_one_image slider_one_image_3" No="3">
                                                </div>
                                                <div class="s-s">
                                                    <img src="images/events/2023/one/4.jpg" class="slider_one_image slider_one_image_4" No="4">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>



                                <!--2-->
                                <div class="row">
                                    <div class="col-12 mt-5">
                                        <h5 class="alignment_solve lang" key="event_2023_head2">SAUDI WATER EXPO 2023 11-13 SEP 2023-RIYADH</h5>
                                    </div>
                                </div>
                                <div class="row  align-items-center">
                                    <div class="col-md-6">
                                        <div class="view-box">
                                            <img src="images/events/2023/two/1.jpg" id="slider_two_main_image" Current="1">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <!-- Swiper -->
                                        <div class="swiper mySwiper2">
                                            <div class="swiper-wrapper justify-content-center">
                                                <div class="s-s">
                                                    <img src="images/events/2023/two/1.jpg" class="slider_two_image slider_two_image_1" No="1">
                                                </div>
                                                <div class="s-s">
                                                    <img src="images/events/2023/two/2.jpg" class="slider_two_image slider_two_image_2" No="2">
                                                </div>
                                                <div class="s-s">
                                                    <img src="images/events/2023/two/3.jpg" class="slider_two_image slider_two_image_3" No="3">
                                                </div>
                                                <div class="s-s">
                                                    <img src="images/events/2023/two/4.jpg" class="slider_two_image slider_two_image_4" No="4">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>



                                <!--3-->
                                <div class="row">
                                    <div class="col-12 mt-5">
                                        <h5 class="alignment_solve lang" key="event_2023_head3">A meeting between the National Water Works Company and our strategic partner Riyad Bank 2023</h5>
                                    </div>
                                </div>
                                <div class="row  align-items-center">
                                    <div class="col-md-6">
                                        <div class="view-box">
                                            <img src="images/events/2023/three/1.jpeg" id="slider_three_main_image" Current="1">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <!-- Swiper -->
                                        <div class="swiper mySwiper3">
                                            <div class="swiper-wrapper justify-content-center">
                                                <div class="s-s">
                                                    <img src="images/events/2023/three/1.jpeg" class="slider_three_image slider_three_image_1" No="1">
                                                </div>
                                                <div class="s-s">
                                                    <img src="images/events/2023/three/2.jpeg" class="slider_three_image slider_three_image_2" No="2">
                                                </div>
                                                <div class="s-s">
                                                    <img src="images/events/2023/three/3.jpeg" class="slider_three_image slider_three_image_3" No="3">
                                                </div>
                                                <div class="s-s">
                                                    <img src="images/events/2023/three/4.jpeg" class="slider_three_image slider_three_image_4" No="4">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>



                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<script src="https://www.thecodeicon.com/js/jquery.js">
</script>


<script>
    $('.slider_one_image').on('click', function () {
        $('#slider_one_main_image').attr('src', $(this).attr('src'));
        $('#slider_one_main_image').attr('Current', $(this).attr('No'));
        $(this).attr('No');
    });
    $('.Slider_One_Arrow_Button').on('click', function () {
        var task = $(this).attr('Task');
        var Current = $("#slider_one_main_image").attr('Current');
        if (task == 1) { find = Current++ + 1; } else { find = Current-- - 1; }
        var new_image = $('.slider_one_image_' + find).attr('src');
        // Assign Data
        $("#slider_one_main_image").attr('Current', find);
        $("#slider_one_main_image").attr('src', new_image);
    });
</script>


<script>
    $('.slider_two_image').on('click', function () {
        $('#slider_two_main_image').attr('src', $(this).attr('src'));
        $('#slider_two_main_image').attr('Current', $(this).attr('No'));
        $(this).attr('No');
    });
    $('.Slider_Two_Arrow_Button').on('click', function () {
        var task = $(this).attr('Task');
        var Current = $("#slider_two_main_image").attr('Current');
        if (task == 1) { find = Current++ + 1; } else { find = Current-- - 1; }
        var new_image = $('.slider_two_image_' + find).attr('src');
        // Assign Data
        $("#slider_two_main_image").attr('Current', find);
        $("#slider_two_main_image").attr('src', new_image);
    });
</script>


<script>
    $('.slider_three_image').on('click', function () {
        $('#slider_three_main_image').attr('src', $(this).attr('src'));
        $('#slider_three_main_image').attr('Current', $(this).attr('No'));
        $(this).attr('No');
    });
    $('.Slider_three_Arrow_Button').on('click', function () {
        var task = $(this).attr('Task');
        var Current = $("#slider_three_main_image").attr('Current');
        if (task == 1) { find = Current++ + 1; } else { find = Current-- - 1; }
        var new_image = $('.slider_three_image_' + find).attr('src');
        // Assign Data
        $("#slider_three_main_image").attr('Current', find);
        $("#slider_three_main_image").attr('src', new_image);
    });
</script>





<script src="js/jquery.js">
</script>


<script>
    $(window).on("scroll", function () {
        if (matchMedia('only screen and (min-width: 1200px)').matches) {
            if ($(window).scrollTop() >= 50) {

                $('.ttm-stickable-header').addClass('fixed-header');
            } else {

                $('.ttm-stickable-header').removeClass('fixed-header');
            }
        }
    });
</script>  