@{
    ViewData["Title"] = "Home Page";
}

<div class="container"> 
    <div class="row justify-content-center">
        <div class="col-md-11">
            <div class="custom_banner">
                <video src="images/drop.mp4" loop autoplay muted></video>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-10 col-md-11 text-center">
                            <div style="overflow: hidden;">
                                <h5 class="drop-in lang" key="home_trust">A Trusted Name Of <span>NWWC</span></h5>
                            </div>
                            <div>
                                <h1 class="drop-in-2 lang" key="home_partner">Your Water Industries Partner</h1>
                            </div>
                            <div style="overflow: hidden;" class="margin_top40 res-767-margin_top30 margin_bottom0 res-991-margin_bottom0" data-animation="fadeInUp" data-delay="1.4">
                                <a href="contact_us" key="home_contact" style="background: #0070cd !important; border-color: #0070cd;" class="lang drop-in px-3 py-2 ttm-btn ttm-btn-size-md ttm-btn-style-fill ttm-btn-shape-rounded ttm-btn-color-dark">Contact Us</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="blue-pattern">
    <!--site-main start-->
    <div class="site-main">
        <section class="pb-4 pt-5 about-section bg-layer-equal-height clearfix">
            <div class="container">
                <div class="row justify-content-center story-section">
                    <div class="col-md-11">
                        <div class="row align-items-start justify-content-between">
                            <div class="col-lg-4">
                                <div class="ttm-bg ttm-col-bgimage-yes col-bg-img-three ttm-left-span z-index-2 mr-0 mr-lg-4 p-3" style="border-radius: 8px; box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;">
                                    <div class="w-100 founder_img">
                                        <img class="img-fluid w-100" src="images/1.jpg" alt="bg-image">
                                    </div>
                                    <h5 class="alignment_solve mt-3 lang" key="home_message">A Message From Founder AL Shaikh Abdullah Nasser Al-Mousa</h5>
                                    <p class="alignment_solve mb-1 lang" key="home_founder_des">
                                        Water is the future. It is the basis for the next generations of this country. Since my childhood I have been preoccupied with an important matter: how to make water accessible to everyone. I began sixty years ago, dedicated
                                        my life to providing water in our desert Kingdom and providing water equipment for all life facilities. I thank God that this company may continue working for the future success of generations after me. Sincerity and
                                        goodwill are the basis of success. <span></span>
                                    </p>
                                </div>
                            </div>

                            <div class="col-lg-8 col-md-12 col-xs-12">
                                <div class="d-flex flex-column justify-content-center h-100 res-991-padding_top40">
                                    <div class="section-title">
                                        <img src="images/new2.jpg" class="rounded w-100 mb-3">
                                        <div class="alignment_solve">
                                            <h3 class="alignment_solve lang" key="history">OUR HISTORY</h3>
                                            <h5 class="year40 lang alignment_solve" key="home_life">Water is life’s key ingredient. NWWC provides water technology solutions to the Kingdom of Saudi Arabia.</h5>
                                        </div>
                                        <div class="title-desc">
                                            <p class="alignment_solve lang" key="home_water_des">With more than half a century of experience in the water sector,  <span style="color: #0070cd !important "><a style="color: #0e204d !important; font-weight: 700;">Al-Mousa Group</a></span> is a pioneering company in the water sector. With its unique geography, Saudi Arabia requires a strong water industry for economic growth. Key to its vision for the future is a growing population which requires water. Water plays a key role in sustaining life, growth, and prosperity. In 2020 the Kingdom consumed roughly 22 million cubic meters of water each day. That figure is set to rise to 30 million cubic meters by 2030. In order to meet the targets laid out in Vision 2030, challenges include increasing desalination capacity, recycling, sanitation, ground water retention, and dam construction.</p>
                                            <ul class="alignment_solve ttm-list ttm-list-style-icon ttm-list-icon-color-skincolor ttm-textcolor-darkgrey fs-15">
                                                <li><a href="history"><span class="alignment_solve pl-0 ttm-list-li-content lang" key="home_view" style="font-weight: 400 !important; ">View More</span>  <i style="margin-top: -3px; font-weight: 300;" class=" bi bi-arrow-right view_move"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="achievement-area ">
                            <div class="container pt-4">
                                <div class="swiper mySwiperslide">
                                    <div class="swiper-wrapper">
                                        <div class="swiper-slide">
                                            <img src="images/slide/1.svg">
                                            <div id="counter" class="d-flex align-items-center justify-content-center">
                                                <div class="counter-value" data-count="400">0</div>
                                            </div>
                                            <h6 class="lang" key="home_slide1">Projects executed </h6>
                                        </div>
                                        <div class="swiper-slide">
                                            <img src="images/slide/2.svg">
                                            <div id="counter" class="d-flex align-items-center justify-content-center">
                                                <div class="counter-value" data-count="50">0</div>+
                                            </div>
                                            <h6 class="lang" key="home_slide2">Key clients approved </h6>
                                        </div>
                                        <div class="swiper-slide">
                                            <img src="images/slide/3.svg">
                                            <div id="counter" class="d-flex align-items-center justify-content-center">
                                                <div class="counter-value" data-count="50">0</div>
                                            </div>
                                            <h6 class="lang" key="home_slide3">Years of water solutions experience </h6>
                                        </div>
                                        <div class="swiper-slide">
                                            <img src="images/slide/4.svg">
                                            <div id="counter" class="d-flex align-items-center justify-content-center">
                                                <div class="counter-value" data-count="40">0</div>
                                            </div>
                                            <h6 class="lang" key="home_slide4">Distribution network and business sales unit</h6>
                                        </div>
                                        <div class="swiper-slide">
                                            <img src="images/slide/5.svg">
                                            <div id="counter" class="d-flex align-items-center justify-content-center">
                                                <div class="counter-value" data-count="40">0</div> M
                                            </div>
                                            <h6 class="lang" key="home_slide5">Stock</h6>
                                        </div>
                                        <div class="swiper-slide">
                                            <img src="images/slide/6.svg">
                                            <div id="counter" class="d-flex align-items-center justify-content-center">
                                                <div class="counter-value" data-count="100">0</div>
                                            </div>
                                            <h6 class="lang" key="home_slide6">Engineers and skilled manpower</h6>
                                        </div>
                                    </div>
                                    <div class="swiper-button-next"><i class="bi bi-arrow-right-short"></i></div>
                                    <div class="swiper-button-prev"><i class="bi bi-arrow-left-short"></i></div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

                <!-- row e4nd -->
            </div>
        </section>


        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-11">
                    <section class=" py-4">
                        <div class="container">
                            <div class="row justify-content-between">
                                <div class="col-md-12">
                                    <div class="row portfolio">
                                        <div class="col-12 p-flex px-0">
                                            <h4 style="color: #0070cd !important" class="lang" key="home_protfolio">Our Portfolio</h4>
                                            <p class="pt-0 mb-0 ml-0 ml-sm-4 lang alignment_solve" key="home_protfolio_des">NWWC is bringing water equipment technology, and water solutions from all over the world to Saudi Arabia.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>



        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-11">
                    <section class="rounded our_expertise pb-5 about-section ttm-bgimage-yes bg-img6 ttm-bg clearfix">
                        <div class="ttm-row-wrapper-bg-layer ttm-bg-layer"></div>
                        <div class="container">
                            <div class="px-lg-3 px-0">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <!-- section-title -->
                                        <div class="section-title title-style-center_text padding_top20">
                                            <div class="title-header pt-3">
                                                <!-- <h3>WHAT WE DO!</h3> -->
                                                <h2 class="mb-0 lang" key="home_expert" style="color: #fff;">Our Expertise</h2>
                                            </div>
                                        </div>
                                        <!-- section-title end -->
                                    </div>
                                </div>
                                <div class="row row-equal-height mb_15">
                                    <style>
                                        .imgtwo1 {
                                            display: none;
                                        }

                                        .featured-icon-box.style8:hover .imgtwo1 {
                                            display: block;
                                        }

                                        .featured-icon-box.style8:hover .imgone1 {
                                            display: none;
                                        }
                                    </style>
                                    <div class="col-xl-3 col-md-4 col-sm-6">
                                        <!--featured-icon-box-->
                                        <div class="featured-icon-box icon-align-top-content style8">
                                            <div class="row align-items-center">
                                                <div class="col-12">
                                                    <div class="featured-icon">
                                                        <div class="ttm-icon ttm-icon_element-onlytxt ttm-icon_element-color-skincolor ttm-icon_element-size-md">
                                                            <img src="images/expertise/1.svg" class="imgone1" style="width: 50px;">
                                                            <img src="images/expertise/white/1.svg" class="imgtwo1" style="width: 47px;">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-12">
                                                    <div class="featured-content">
                                                        <div class="featured-title">
                                                            <h3 class="lang" key="home_expert1">Full range of Borehole Pumps & Motors</h3>
                                                        </div>
                                                        <div class="featured-link">
                                                            <a href="#" rel="bookmark"><i class="bi bi-caret-down-fill"></i></a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- featured-icon-box end-->
                                    </div>
                                    <div class="col-xl-3 col-md-4 col-sm-6">
                                        <style>
                                            .imgtwo2 {
                                                display: none;
                                            }

                                            .featured-icon-box.style8:hover .imgtwo2 {
                                                display: block;
                                            }

                                            .featured-icon-box.style8:hover .imgone2 {
                                                display: none;
                                            }
                                        </style>
                                        <!--featured-icon-box-->
                                        <div class="featured-icon-box icon-align-top-content style8">
                                            <div class="row align-items-center">
                                                <div class="col-12">
                                                    <div class="featured-icon">
                                                        <div class="ttm-icon ttm-icon_element-onlytxt ttm-icon_element-color-skincolor ttm-icon_element-size-md">
                                                            <img src="images/expertise/2.svg" class="imgone2" style="width: 55px;">
                                                            <img src="images/expertise/white/2.svg" class="imgtwo2" style="width: 50px;">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-12">
                                                    <div class="featured-content">
                                                        <div class="featured-title">
                                                            <h3 class="lang" key="home_expert2">Complete Pumping <br> Stations</h3>
                                                        </div>
                                                        <div class="featured-link">
                                                            <a href="#" rel="bookmark"><i class="bi bi-caret-down-fill"></i></a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- featured-icon-box end-->
                                    </div>
                                    <div class="col-xl-3 col-md-4 col-sm-6">
                                        <style>
                                            .imgtwo3 {
                                                display: none;
                                            }

                                            .featured-icon-box.style8:hover .imgtwo3 {
                                                display: block;
                                            }

                                            .featured-icon-box.style8:hover .imgone3 {
                                                display: none;
                                            }
                                        </style>
                                        <!--featured-icon-box-->
                                        <div class="featured-icon-box icon-align-top-content style8">
                                            <div class="row align-items-center">
                                                <div class="col-12">
                                                    <div class="featured-icon">
                                                        <div class="ttm-icon ttm-icon_element-onlytxt ttm-icon_element-color-skincolor ttm-icon_element-size-md">
                                                            <img src="images/expertise/3.svg" class="imgone3" style="width: 50px;">
                                                            <img src="images/expertise/white/3.svg" class="imgtwo3" style="width: 47px;">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-12">
                                                    <div class="featured-content">
                                                        <div class="featured-title">
                                                            <h3 class="lang" key="home_expert3">Stormwater and dewatering Packages.</h3>
                                                        </div>
                                                        <div class="featured-link">
                                                            <a href="#" rel="bookmark"><i class="bi bi-caret-down-fill"></i></a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- featured-icon-box end-->
                                    </div>
                                    <div class="col-xl-3 col-md-4 col-sm-6">
                                        <style>
                                            .imgtwo4 {
                                                display: none;
                                            }

                                            .featured-icon-box.style8:hover .imgtwo4 {
                                                display: block;
                                            }

                                            .featured-icon-box.style8:hover .imgone4 {
                                                display: none;
                                            }
                                        </style>
                                        <!--featured-icon-box-->
                                        <div class="featured-icon-box icon-align-top-content style8">
                                            <div class="row align-items-center">
                                                <div class="col-12">
                                                    <div class="featured-icon">
                                                        <div class="ttm-icon ttm-icon_element-onlytxt ttm-icon_element-color-skincolor ttm-icon_element-size-md">
                                                            <img src="images/expertise/4.svg" class="imgone4" style="width: 50px;">
                                                            <img src="images/expertise/white/4.svg" class="imgtwo4" style="width: 50px;">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-12">
                                                    <div class="featured-content">
                                                        <div class="featured-title">
                                                            <h3 class="lang" key="home_expert4">Electromechanical <br> Works </h3>
                                                        </div>
                                                        <div class="featured-link">
                                                            <a href="#" rel="bookmark"><i class="bi bi-caret-down-fill"></i></a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- featured-icon-box end-->
                                    </div>
                                    <div class="col-xl-3 col-md-4 col-sm-6">
                                        <style>
                                            .imgtwo5 {
                                                display: none;
                                            }

                                            .featured-icon-box.style8:hover .imgtwo5 {
                                                display: block;
                                            }

                                            .featured-icon-box.style8:hover .imgone5 {
                                                display: none;
                                            }
                                        </style>
                                        <!--featured-icon-box-->
                                        <div class="featured-icon-box icon-align-top-content style8">
                                            <div class="row align-items-center">
                                                <div class="col-12">
                                                    <div class="featured-icon">
                                                        <div class="ttm-icon ttm-icon_element-onlytxt ttm-icon_element-color-skincolor ttm-icon_element-size-md">
                                                            <img src="images/expertise/5.svg" class="imgone5" style="width: 50px;">
                                                            <img src="images/expertise/white/5.svg" class="imgtwo5" style="width: 50px;">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-12">
                                                    <div class="featured-content">
                                                        <div class="featured-title">
                                                            <h3 class="lang" key="home_expert5">Solution in <br> Irrigation </h3>
                                                        </div>
                                                        <div class="featured-link">
                                                            <a href="#" rel="bookmark"><i class="bi bi-caret-down-fill"></i></a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- featured-icon-box end-->
                                    </div>
                                    <div class="col-xl-3 col-md-4 col-sm-6">
                                        <!--featured-icon-box-->
                                        <div class="featured-icon-box icon-align-top-content style8">
                                            <style>
                                                .imgtwo6 {
                                                    display: none;
                                                }

                                                .featured-icon-box.style8:hover .imgtwo6 {
                                                    display: block;
                                                }

                                                .featured-icon-box.style8:hover .imgone6 {
                                                    display: none;
                                                }
                                            </style>
                                            <div class="row align-items-center">
                                                <div class="col-12">
                                                    <div class="featured-icon">
                                                        <div class="ttm-icon ttm-icon_element-onlytxt ttm-icon_element-color-skincolor ttm-icon_element-size-md">
                                                            <img src="images/expertise/6.svg" class="imgone6" style="width: 50px;">
                                                            <img src="images/expertise/white/6.svg" class="imgtwo6" style="width: 50px;">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-12">
                                                    <div class="featured-content">
                                                        <div class="featured-title">
                                                            <h3 class="lang" key="home_expert6">Valving <br> solutions</h3>
                                                        </div>
                                                        <div class="featured-link">
                                                            <a href="#" rel="bookmark"><i class="bi bi-caret-down-fill"></i></a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>


                                        </div>
                                        <!-- featured-icon-box end-->
                                    </div>
                                    <div class="col-xl-3 col-md-4 col-sm-6">
                                        <style>
                                            .imgtwo7 {
                                                display: none;
                                            }

                                            .featured-icon-box.style8:hover .imgtwo7 {
                                                display: block;
                                            }

                                            .featured-icon-box.style8:hover .imgone7 {
                                                display: none;
                                            }
                                        </style>
                                        <!--featured-icon-box-->
                                        <div class="featured-icon-box icon-align-top-content style8">
                                            <div class="row align-items-center">
                                                <div class="col-12">
                                                    <div class="featured-icon">
                                                        <div class="ttm-icon ttm-icon_element-onlytxt ttm-icon_element-color-skincolor ttm-icon_element-size-md">
                                                            <img src="images/expertise/7.svg" class="imgone7" style="width: 50px;">
                                                            <img src="images/expertise/white/7.svg" class="imgtwo7" style="width: 50px;">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-12">
                                                    <div class="featured-content">
                                                        <div class="featured-title">
                                                            <h3 class="lang" key="home_expert7">Engineering and Consultation </h3>
                                                        </div>
                                                        <div class="featured-link">
                                                            <a href="#" rel="bookmark"><i class="bi bi-caret-down-fill"></i></a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- featured-icon-box end-->
                                    </div>
                                    <div class="col-xl-3 col-md-4 col-sm-6">
                                        <style>
                                            .imgtwo8 {
                                                display: none;
                                            }

                                            .featured-icon-box.style8:hover .imgtwo8 {
                                                display: block;
                                            }

                                            .featured-icon-box.style8:hover .imgone8 {
                                                display: none;
                                            }
                                        </style>
                                        <!--featured-icon-box-->
                                        <div class="featured-icon-box icon-align-top-content style8">
                                            <div class="row align-items-center justify-content-center">
                                                <div class="col-12">
                                                    <div class="featured-icon">
                                                        <div class="ttm-icon ttm-icon_element-onlytxt ttm-icon_element-color-skincolor ttm-icon_element-size-md">
                                                            <img src="images/expertise/8.svg" class="imgone8" style="width: 50px;">
                                                            <img src="images/expertise/white/8.svg" class="imgtwo8" style="width: 50px;">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-12">
                                                    <div class="featured-content">
                                                        <div class="featured-title">
                                                            <h3 class="lang" key="home_expert8">Operations and Maintenance of Water Project </h3>
                                                        </div>
                                                        <div class="featured-link">
                                                            <a href="#" rel="bookmark"><i class="bi bi-caret-down-fill"></i></a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- featured-icon-box end-->
                                    </div>
                                </div>
                            </div>
                            <!-- row -->
                            <!-- row end -->
                        </div>
                    </section>
                </div>
            </div>
        </div>




        <!--padding_top_zer1o-section-->
        <!--auto-->
        <section class="auto mt-3">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-11">
                        <div class="row">
                            <div class="col-12">
                                <div class="marquee">
                                    <div class="marquee-content align-items-center">
                                        <div class="marquee-item">
                                            <img src="images/client/1.png" alt="">
                                        </div>

                                        <div class="marquee-item">
                                            <img src="images/client/18.png" alt="">
                                        </div>

                                        <div class="marquee-item">
                                            <img src="images/nmi.png" alt="">
                                        </div>

                                        <div class="marquee-item">
                                            <img src="images/client/3.png" alt="">
                                        </div>

                                        <div class="marquee-item">
                                            <img src="images/client/4.png" class="w-75" alt="">
                                        </div>

                                        <div class="marquee-item">
                                            <img src="images/client/5.png" alt="">
                                        </div>

                                        <div class="marquee-item">
                                            <img src="images/client/6.png" alt="">
                                        </div>

                                        <div class="marquee-item">
                                            <img src="images/client/7.png" alt="">
                                        </div>

                                        <div class="marquee-item">
                                            <img src="images/client/8.png" alt="">
                                        </div>
                                        <div class="marquee-item">
                                            <img src="images/client/9.png" alt="">
                                        </div>

                                        <div class="marquee-item">
                                            <img src="images/client/10.png" class="w-75" alt="">
                                        </div>



                                        <div class="marquee-item">
                                            <img src="images/client/11.png" alt="">
                                        </div>

                                        <div class="marquee-item">
                                            <img src="images/client/12.png" class="w-75" alt="">
                                        </div>

                                        <div class="marquee-item">
                                            <img src="images/client/13.png" alt="">
                                        </div>

                                        <div class="marquee-item">
                                            <img src="images/client/14.png" alt="">
                                        </div>

                                        <div class="marquee-item">
                                            <img src="images/client/15.png" alt="">
                                        </div>

                                        <div class="marquee-item">
                                            <img src="images/client/16.png" alt="">
                                        </div>

                                        <div class="marquee-item">
                                            <img src="images/client/17.png" alt="">
                                        </div>


                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </section>
        <!--padding_top_zero-section end-->

    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
<script>
    var swiper = new Swiper(".mySwiperslide", {
        navigation: {
            nextEl: ".swiper-button-next",
            prevEl: ".swiper-button-prev",
        },
        breakpoints: {
            // when window width is >= 320px
            250: {
                slidesPerView: 1,
                spaceBetween: 20
            },
            // when window width is >= 480px
            575: {
                slidesPerView: 2,
                spaceBetween: 20
            },
            // when window width is >= 640px
            992: {
                slidesPerView: 3,
                spaceBetween: 20
            }
        }
    });
</script>

<script>
    class readMore {
        constructor() {
            this.content = '.readmore__content';
            this.buttonToggle = '.readmore__toggle';
        }

        bootstrap() {
            this.setNodes();
            this.init();
            this.addEventListeners();
        }

        setNodes() {
            this.nodes = {
                contentToggle: document.querySelector(this.content)
            };

            this.buttonToggle = this.nodes.contentToggle.parentElement.querySelector(this.buttonToggle);
        }

        init() {
            const { contentToggle } = this.nodes;

            this.stateContent = contentToggle.innerHTML;

            contentToggle.innerHTML = `${this.stateContent.substring(0, 200)}...`;
        }

        addEventListeners() {
            this.buttonToggle.addEventListener('click', this.onClick.bind(this))
        }

        onClick(event) {
            const targetEvent = event.currentTarget;
            const { contentToggle } = this.nodes

            if (targetEvent.getAttribute('aria-checked') === 'true') {
                targetEvent.setAttribute('aria-checked', 'false')
                contentToggle.innerHTML = this.stateContent;
                this.buttonToggle.innerHTML = 'Show less'

            } else {
                targetEvent.setAttribute('aria-checked', 'true')
                contentToggle.innerHTML = `${this.stateContent.substring(0, 200)}...`
                this.buttonToggle.innerHTML = 'Show more'
            }
        }
    }
    const initReadMore = new readMore();
    initReadMore.bootstrap()
</script>

<script src="js/jquery.js"></script>

<script>
    $(window).on("scroll", function () {
        if (matchMedia('only screen and (min-width: 1200px)').matches) {
            if ($(window).scrollTop() >= 50) {

                $('.ttm-stickable-header').addClass('fixed-header');
            } else {

                $('.ttm-stickable-header').removeClass('fixed-header');
            }
        }
    });
    $('#home').addClass('header-mennu-active');
</script>
