


<link rel="stylesheet" type="text/css" href="css/career.css" />
<link rel="stylesheet" type="text/css" href="css/our-porjects.css" />
<link rel="stylesheet" type="text/css" href="css/project.css" />
<script>
    document.title = '2018 Porjects || NWWC - National Water Works CO';
</script>

<div class="blue-pattern">
    <!-- page-title -->
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-11">
                <div class="ttm-page-title-row ttm-bg ttm-bgimage-yes ttm-bgcolor-darkgrey clearfix custom-project-banner">
                    <div class="ttm-row-wrapper-bg-layer ttm-bg-layer" style="border-radius: 7px;"></div>
                    <div class="container">
                        <div class="row align-items-center">
                            <div class="col-lg-12">
                                <div class="ttm-page-title-row-inner">
                                    <div class="page-title-heading">
                                        <h4 class="title lang" key="meinheading2018">Our 2018 Projects</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- page-title end -->
    <!-- Link Swiper's CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css" />

    <div class="custom-card-design">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-11">
                    <div class="row">
                        <div class="col-md-6 my-3">
                            <div class="custom_card">
                                <!-- Swiper -->
                                <div class="swiper project-swiper">
                                    <div class="swiper-wrapper">
                                        <div class="swiper-slide"><img class="img-fluid" src="images/projects/28/1.jpg" alt=""></div>
                                        <div class="swiper-slide"><img class="img-fluid" src="images/projects/28/2.jpg" alt=""></div>
                                    </div>
                                    <div class="swiper-button-next"><i class="bi bi-arrow-right-short"></i></div>
                                    <div class="swiper-button-prev"><i class="bi bi-arrow-left-short"></i></div>
                                </div>
                                <div class="alignment_solve custom_text">
                                    <h4 class="lang" key="p_2018_head1">Renting Of Deep Wells Submersible Pump</h4>
                                    <p class="lang" key="p_2018_1des1">Supply of Supply of E-Tech & Rovatti Pump SLB ESP units for water deep wells.</p>
                                    <p class="mb-2 lang" key="p_2018_1des2"><b>Project Type: </b>Operation & Maintenance</p>
                                    <p class="mb-2 lang" key="p_2018_1des3"><b>Year: </b>2018 + 2019</p>
                                    <p class="mb-2 lang" key="p_2018_1des4"><b>Location: </b>Sedair</p>
                                    <p class="mb-2 lang" key="p_2018_1des5"><b>Client: </b>TAWZEE</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 my-3">
                            <div class="custom_card">
                                <!-- Swiper -->
                                <div class="swiper project-swiper">
                                    <div class="swiper-wrapper">
                                        <div class="swiper-slide"><img class="img-fluid" src="images/projects/17/1.jpg" alt=""></div>
                                    </div>
                                    <div class="swiper-button-next"><i class="bi bi-arrow-right-short"></i></div>
                                    <div class="swiper-button-prev"><i class="bi bi-arrow-left-short"></i></div>
                                </div>
                                <div class="alignment_solve custom_text">
                                    <h4 class="lang" key="p_2018_head2">Qassim Storm Water Transfer Project</h4>
                                    <p class="mb-2 lang" key="p_2018_2des1">Supply, testing and commissioning of 1 Mobile Storm water pumps Flow: total 10,500 gpm Head: 12ft</p>
                                    <p class="mb-2 lang" key="p_2018_2des2"><b>Project Type: </b>Mobile Storm Water Pump</p>
                                    <p class="mb-2 lang" key="p_2018_2des3"><b>Year: </b>2018</p>
                                    <p class="mb-2 lang" key="p_2018_2des4"><b>Location: </b>Qassim</p>
                                    <p class="mb-2 lang" key="p_2018_2des5"><b>Client: </b>Al-Qassim Municipality</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 my-3">
                            <div class="custom_card">
                                <!-- Swiper -->
                                <div class="swiper project-swiper">
                                    <div class="swiper-wrapper">
                                        <div class="swiper-slide"><img class="img-fluid" src="images/projects/22/1.jpg" alt=""></div>
                                    </div>
                                    <div class="swiper-button-next"><i class="bi bi-arrow-right-short"></i></div>
                                    <div class="swiper-button-prev"><i class="bi bi-arrow-left-short"></i></div>
                                </div>
                                <div class="alignment_solve custom_text">
                                    <h4 class="lang" key="p_2018_head3">Rehabilitation Of Sewage Treatment Plant</h4>
                                    <p class="lang" key="p_2018_3des1">Rehabilitation of old plant by adding the necessary equipment to run by automatic Mode perfectly Comminutor Flow meters , control panned , PLC Valves Media</p>
                                    <p class="mb-2 lang" key="p_2018_3des2"><b>Project Type: </b>Sewage Treatment</p>
                                    <p class="mb-2 lang" key="p_2018_3des3"><b>Year: </b>2018</p>
                                    <p class="mb-2 lang" key="p_2018_3des4"><b>Location: </b>Khamis Mushit</p>
                                    <p class="mb-2 lang" key="p_2018_3des5"><b>Capacity: </b>400, m3/day</p>
                                    <p class="mb-2 lang" key="p_2018_3des6"><b>Client: </b>MOD /Air Defence</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Swiper JS -->
<script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>


<script>
    var projectSwiper = new Swiper(".project-swiper", {
        spaceBetween: 30,
        centeredSlides: true,
        navigation: {
            nextEl: ".swiper-button-next",
            prevEl: ".swiper-button-prev",
        },
    });
</script>



