




<link rel="stylesheet" type="text/css" href="css/career.css" />
<link rel="stylesheet" type="text/css" href="css/our-porjects.css" />
<link rel="stylesheet" type="text/css" href="css/project.css" />
<script>document.title = '2013 Porjects || NWWC - National Water Works CO';
</script>

<div class="blue-pattern">
<!-- page-title -->
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-11">
            <div class="ttm-page-title-row ttm-bg ttm-bgimage-yes ttm-bgcolor-darkgrey clearfix custom-project-banner">
                <div class="ttm-row-wrapper-bg-layer ttm-bg-layer" style="border-radius: 7px;"></div>
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-lg-12">
                            <div class="ttm-page-title-row-inner">
                                <div class="page-title-heading">
                                        <h4 class="title lang" key="meinheading2013">Our 2013 Projects</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>                    
            </div>
        </div>
    </div>
</div>
<!-- page-title end -->


        <!-- Link Swiper's CSS -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css" />

        <div class="custom-card-design">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-11">
                        <div class="row">            
                            <div class="col-md-6 my-3">
                                <div class="custom_card">
                                    <!-- Swiper -->
                                    <div class="swiper project-swiper">
                                        <div class="swiper-wrapper">
                                            <div class="swiper-slide"><img class="img-fluid" src="images/projects/seven/1.jpg" alt=""></div>
                                        </div>
                                        <div class="swiper-button-next"><i class="bi bi-arrow-right-short"></i></div>
                                        <div class="swiper-button-prev"><i class="bi bi-arrow-left-short"></i></div>
                                    </div>
                                <div class="alignment_solve custom_text">
                                        <h4 class="lang" key="p_2013_head1">Control Valves For Swcc Jubail Hafr Al-batin Wts</h4>
                                        <p class="lang" key="p_2013_1des1">Supply of ERHARD Control / Needle Valves, DN700 & DN400 – PN100</p>
                                        <p class="mb-2 lang" key="p_2013_1des2"><b>Project Type: </b> Replacement Valves</p>
                                        <p class="mb-2 lang" key="p_2013_1des3"><b>Year: </b>2013</p>
                                        <p class="mb-2 lang" key="p_2013_1des4"><b>Location: </b>SWWC Eastern Water Transmission Line</p>
                                        <p class="mb-2 lang" key="p_2013_1des5"><b>Client: </b> SWCC</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 my-3">
                                <div class="custom_card">
                                    <!-- Swiper -->
                                    <div class="swiper project-swiper">
                                        <div class="swiper-wrapper">
                                            <div class="swiper-slide"><img class="img-fluid" src="images/projects/12/1.png" alt=""></div>
                                            <div class="swiper-slide"><img class="img-fluid" src="images/projects/12/2.jpg" alt=""></div>
                                            <div class="swiper-slide"><img class="img-fluid" src="images/projects/12/3.jpg" alt=""></div>
                                        </div>
                                        <div class="swiper-button-next"><i class="bi bi-arrow-right-short"></i></div>
                                        <div class="swiper-button-prev"><i class="bi bi-arrow-left-short"></i></div>
                                    </div>
                                <div class="alignment_solve custom_text">
                                        <h4 class="lang" key="p_2013_head2">Princess Noura University Project</h4>
                                        <p class="lang" key="p_2013_2des1">Supply, installation, testing and commissioning of 2 units of Center lift submersible pump, Ni-Al Bronze construction, 1000 GPM  1760ft. submersible motors 700HP, 4160V, Operation Through 24 Puls VFD.</p>
                                        <p class="mb-2 lang" key="p_2013_2des2"><b>Project Type: </b> Deep Well Pumps</p>
                                        <p class="mb-2 lang" key="p_2013_2des3"><b>Year: </b>2013</p>
                                        <p class="mb-2 lang" key="p_2013_2des4"><b>Location: </b> Princess Noura University Riyadh</p>
                                        <p class="mb-2 lang" key="p_2013_2des5"><b>Client: </b> Princess Noura University Riyadh</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 my-3">
                                <div class="custom_card">
                                    <!-- Swiper -->
                                    <div class="swiper project-swiper">
                                        <div class="swiper-wrapper">
                                            <div class="swiper-slide"><img class="img-fluid" src="images/projects/19/1.jpg" alt=""></div>
                                            <div class="swiper-slide"><img class="img-fluid" src="images/projects/19/2.jpg" alt=""></div>
                                        </div>
                                        <div class="swiper-button-next"><i class="bi bi-arrow-right-short"></i></div>
                                        <div class="swiper-button-prev"><i class="bi bi-arrow-left-short"></i></div>
                                    </div>
                                <div class="alignment_solve custom_text">
                                        <h4 class="lang" key="p_2013_head3">Albaha Lifting Station Project</h4>
                                        <p class="lang" key="p_2013_3des1">Design, supply, installation, testing and commissioning of Sewage submersible pumps for 54 Lifting Station Flow: 200 USGPM up to 2500 USGPM Head: 8 M up to 78M Head</p>
                                        <p class="mb-2 lang" key="p_2013_3des2"><b>Project Type: </b>Al-Baha Lifting Station</p>
                                        <p class="mb-2 lang" key="p_2013_3des3"><b>Year: </b>2013</p>
                                        <p class="mb-2 lang" key="p_2013_3des4"><b>Location: </b> Al-Baha</p>
                                        <p class="mb-2 lang" key="p_2013_3des5"><b>Client: </b>Al-Baha Water Directorate</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>
        <!-- Swiper JS -->
        <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>


        <script>
            var projectSwiper = new Swiper(".project-swiper", {
                spaceBetween: 30,
                centeredSlides: true,
                navigation: {
                    nextEl: ".swiper-button-next",
                    prevEl: ".swiper-button-prev",
                },
            });
        </script>



