


<link rel="stylesheet" type="text/css" href="css/career.css" />
<link rel="stylesheet" type="text/css" href="css/our-porjects.css" />
<link rel="stylesheet" type="text/css" href="css/project.css" />
<script>
    document.title = '2017 Porjects || NWWC - National Water Works CO';
</script>

<div class="blue-pattern">
    <!-- page-title -->
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-11">
                <div class="ttm-page-title-row ttm-bg ttm-bgimage-yes ttm-bgcolor-darkgrey clearfix custom-project-banner">
                    <div class="ttm-row-wrapper-bg-layer ttm-bg-layer" style="border-radius: 7px;"></div>
                    <div class="container">
                        <div class="row align-items-center">
                            <div class="col-lg-12">
                                <div class="ttm-page-title-row-inner">
                                    <div class="page-title-heading">
                                        <h4 class="title lang" key="meinheading2017">Our 2017 Projects</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- page-title end -->
    <!-- Link Swiper's CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css" />

    <div class="custom-card-design">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-11">
                    <div class="row">
                        <div class="col-md-6 my-3">
                            <div class="custom_card">
                                <!-- Swiper -->
                                <div class="swiper project-swiper">
                                    <div class="swiper-wrapper">
                                        <div class="swiper-slide"><img class="img-fluid" src="images/projects/six/1.png" alt=""></div>
                                        <div class="swiper-slide"><img class="img-fluid" src="images/projects/six/2.png" alt=""></div>
                                        <div class="swiper-slide"><img class="img-fluid" src="images/projects/six/3.png" alt=""></div>
                                    </div>
                                    <div class="swiper-button-next"><i class="bi bi-arrow-right-short"></i></div>
                                    <div class="swiper-button-prev"><i class="bi bi-arrow-left-short"></i></div>
                                </div>
                                <div class="alignment_solve custom_text">
                                    <h4 class="lang" key="p_2017_head1">Rehabilitation of intake and flow valves for Shuqaiq water transmission systems</h4>
                                    <p class="lang" key="p_2017_1des1">Supply , Installation & testing & commissioning. 16 NON SLAM NOZZLE CHECK VALVE DN 24 ANSI 600 4 NON SLAM NOZZL CHECK VALVE DN 24" CLASS ANSI 300</p>
                                    <p class="mb-2 lang" key="p_2017_1des2"><b>Project Type: </b>Valving Projects</p>
                                    <p class="mb-2 lang" key="p_2017_1des3"><b>Year: </b>2017</p>
                                    <p class="mb-2 lang" key="p_2017_1des4"><b>Location: </b>Shaqiq – jazan</p>
                                    <p class="mb-2 lang" key="p_2017_1des5"><b>Client: </b>SWCC</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 my-3">
                            <div class="custom_card">
                                <!-- Swiper -->
                                <div class="swiper project-swiper">
                                    <div class="swiper-wrapper">
                                        <div class="swiper-slide"><img class="img-fluid" src="images/projects/25/1.jpg" alt=""></div>
                                        <div class="swiper-slide"><img class="img-fluid" src="images/projects/25/2.jpg" alt=""></div>
                                    </div>
                                    <div class="swiper-button-next"><i class="bi bi-arrow-right-short"></i></div>
                                    <div class="swiper-button-prev"><i class="bi bi-arrow-left-short"></i></div>
                                </div>
                                <div class="alignment_solve custom_text">
                                    <h4 class="lang" key="p_2017_head2">Installation of Centrilift Pump unit Project in Derab</h4>
                                    <p class="lang" key="p_2017_2des1">Supply of Install of Centrilifit Submersible Pump unit. Testing & commissioning</p>
                                    <p class="mb-2 lang" key="p_2017_2des2"><b>Project Type: </b> Operation & Maintenance</p>
                                    <p class="mb-2 lang" key="p_2017_2des3"><b>Year: </b>2017</p>
                                    <p class="mb-2 lang" key="p_2017_2des4"><b>Location: </b>King Abdul Aziz City,Derab</p>
                                    <p class="mb-2 lang" key="p_2017_2des5"><b>Client: </b>Ministry of National Guard</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Swiper JS -->
<script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>


<script>
    var projectSwiper = new Swiper(".project-swiper", {
        spaceBetween: 30,
        centeredSlides: true,
        navigation: {
            nextEl: ".swiper-button-next",
            prevEl: ".swiper-button-prev",
        },
    });
</script>




