


<link rel="stylesheet" type="text/css" href="css/career.css" />
<link rel="stylesheet" type="text/css" href="css/our-porjects.css" />
<link rel="stylesheet" type="text/css" href="css/project.css" />
<script>
    document.title = '2012 Porjects || NWWC - National Water Works CO';
</script>

<div class="blue-pattern">
    <!-- page-title -->
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-11">
                <div class="ttm-page-title-row ttm-bg ttm-bgimage-yes ttm-bgcolor-darkgrey clearfix custom-project-banner">
                    <div class="ttm-row-wrapper-bg-layer ttm-bg-layer" style="border-radius: 7px;"></div>
                    <div class="container">
                        <div class="row align-items-center">
                            <div class="col-lg-12">
                                <div class="ttm-page-title-row-inner">
                                    <div class="page-title-heading">
                                        <h4 class="title lang" key="meinheading2012">Our 2012 Projects</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- page-title end -->
    <!-- Link Swiper's CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css" />

    <div class="custom-card-design">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-11">
                    <div class="row">
                        <div class="col-md-6 my-3">
                            <div class="custom_card">
                                <!-- Swiper -->
                                <div class="swiper project-swiper">
                                    <div class="swiper-wrapper">
                                        <div class="swiper-slide"><img class="img-fluid" src="images/projects/ten/1.jpg" alt=""></div>
                                        <div class="swiper-slide"><img class="img-fluid" src="images/projects/ten/2.jpg" alt=""></div>
                                        <div class="swiper-slide"><img class="img-fluid" src="images/projects/ten/3.jpg" alt=""></div>
                                        <div class="swiper-slide"><img class="img-fluid" src="images/projects/ten/4.jpg" alt=""></div>
                                    </div>
                                    <div class="swiper-button-next"><i class="bi bi-arrow-right-short"></i></div>
                                    <div class="swiper-button-prev"><i class="bi bi-arrow-left-short"></i></div>
                                </div>
                                <div class="alignment_solve custom_text">
                                    <h4 class="lang" key="p_2012_head1">Riyadh Water Supply Enhancement Project</h4>
                                    <p class="lang" key="p_2012_1des1">200,000 m3 / day raw water supply, install, testing and commissioning of 43 Centrilift deep well pumping equipments and related accessories.</p>
                                    <p class="mb-2 lang" key="p_2012_1des2"><b>Project Type: </b> 43 Project</p>
                                    <p class="mb-2 lang" key="p_2012_1des3"><b>Year: </b>2012</p>
                                    <p class="mb-2 lang" key="p_2012_1des4"><b>Location: </b> Riyadh</p>
                                    <p class="mb-2 lang" key="p_2012_1des5"><b>Client: </b> NWC</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Swiper JS -->
<script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>


<script>
    var projectSwiper = new Swiper(".project-swiper", {
        spaceBetween: 30,
        centeredSlides: true,
        navigation: {
            nextEl: ".swiper-button-next",
            prevEl: ".swiper-button-prev",
        },
    });
</script>


