




<link rel="stylesheet" type="text/css" href="css/career.css" />
<link rel="stylesheet" type="text/css" href="css/our-porjects.css" />
<link rel="stylesheet" type="text/css" href="css/project.css" />
<script>document.title = '2022 Porjects || NWWC - National Water Works CO';
</script>

<div class="blue-pattern">


<!-- page-title --> 
<div class="container">
    <div class="row justify-content-center"> 
        <div class="col-md-11">
            <div class="ttm-page-title-row ttm-bg ttm-bgimage-yes ttm-bgcolor-darkgrey clearfix custom-project-banner">
                <div class="ttm-row-wrapper-bg-layer ttm-bg-layer" style="border-radius: 7px;"></div>
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-lg-12">
                            <div class="ttm-page-title-row-inner">
                                <div class="page-title-heading">
                                    <h4 class="title lang" key="meinheading2022">Our 2022 Projects</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>                    
            </div>
        </div>
    </div>
</div>
<!-- page-title end -->


        <!-- Link Swiper's CSS -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css" />

        <div class="custom-card-design">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-11">
                        <div class="row">            
                            <div class="col-md-6 my-3">
                                <div class="custom_card">
                                    <!-- Swiper -->
                                    <div class="swiper project-swiper">
                                        <div class="swiper-wrapper">
                                            <div class="swiper-slide"><img class="img-fluid" src="images/projects/one/1.jpg" alt=""></div>
                                            <div class="swiper-slide"><img class="img-fluid" src="images/projects/one/2.jpg" alt=""></div>
                                            <div class="swiper-slide"><img class="img-fluid" src="images/projects/one/3.jpg" alt=""></div>
                                            <div class="swiper-slide"><img class="img-fluid" src="images/projects/one/4.jpg" alt=""></div>
                                        </div>
                                        <div class="swiper-button-next"><i class="bi bi-arrow-right-short"></i></div>
                                        <div class="swiper-button-prev"><i class="bi bi-arrow-left-short"></i></div>
                                    </div>
                                <div class="alignment_solve custom_text">
                                        <h4 class="lang" key="p_2022_head1">Saad Project lot 6</h4>
                                        <p class="lang" key="p_2022_1des1">Supply and installation of Submersible pumping set together with related electric panels , transformers and generator Supply and installation of DI Header piping with excavation and beck sling.</p>
                                        <p class="mb-2 lang" key="p_2022_1des2"><b>Project Type: </b>Well field</p>
                                        <p class="mb-2 lang" key="p_2022_1des3"><b>Year: </b>2020-2022</p>
                                        <p class="mb-2 lang" key="p_2022_1des4"><b>Location: </b>Riyadh</p>
                                        <p class="mb-2 lang" key="p_2022_1des5"><b>Client: </b>NWC</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 my-3">
                                <div class="custom_card">
                                    <!-- Swiper -->
                                    <div class="swiper project-swiper">
                                        <div class="swiper-wrapper">
                                            <div class="swiper-slide"><img class="img-fluid" src="images/projects/two/1.jpg" alt=""></div>
                                            <div class="swiper-slide"><img class="img-fluid" src="images/projects/two/2.jpg" alt=""></div>
                                            <div class="swiper-slide"><img class="img-fluid" src="images/projects/two/3.jpg" alt=""></div>
                                            <div class="swiper-slide"><img class="img-fluid" src="images/projects/two/4.jpg" alt=""></div>
                                            <div class="swiper-slide"><img class="img-fluid" src="images/projects/two/5.jpg" alt=""></div>
                                            <div class="swiper-slide"><img class="img-fluid" src="images/projects/two/6.jpg" alt=""></div>
                                        </div>
                                        <div class="swiper-button-next"><i class="bi bi-arrow-right-short"></i></div>
                                        <div class="swiper-button-prev"><i class="bi bi-arrow-left-short"></i></div>
                                    </div>
                                <div class="alignment_solve custom_text">
                                        <h4 class="lang" key="p_2022_head2">Extension of Tgc Pump Station Project</h4>
                                        <p class="lang" key="p_2022_2des1">Supply , Installation & testing & commissioning.2 ANDRITZ ASC pumps 2220m3/hr 50m head. Dual Speed Motor 1190/890 rpm 410 kW/185 kW, 4160V, 50⁰C, 1000mm pipes, valves and fitting. Related civil works.</p>
                                        <p class="mb-2 lang" key="p_2022_2des2"><b>Project Type: </b>Well field</p>
                                        <p class="mb-2 lang" key="p_2022_2des3"><b>Year: </b>2020-2022</p>
                                        <p class="mb-2 lang" key="p_2022_2des4"><b>Location: </b>Riyadh</p>
                                        <p class="mb-2 lang" key="p_2022_2des5"><b>Client: </b>NWC</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>

        <!-- Swiper JS -->
        <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>


        <script>
            var projectSwiper = new Swiper(".project-swiper", {
                spaceBetween: 30,
                centeredSlides: true,
                navigation: {
                    nextEl: ".swiper-button-next",
                    prevEl: ".swiper-button-prev",
                },
            });
        </script>





<script src="js/jquery.js"></script>
<script>
    $(window).on("scroll", function() {
        if (matchMedia('only screen and (min-width: 1200px)').matches) {
            if ($(window).scrollTop() >= 50) {

                $('.ttm-stickable-header').addClass('fixed-header');
            } else {

                $('.ttm-stickable-header').removeClass('fixed-header');
            }
        }
    });
</script>