

<link rel="stylesheet" type="text/css" href="css/career.css" />
<link rel="stylesheet" type="text/css" href="css/our-porjects.css" />
<link rel="stylesheet" type="text/css" href="css/project.css" />
<script>
    document.title = '2015 Porjects || NWWC - National Water Works CO';
</script>

<div class="blue-pattern">
    <!-- page-title -->
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-11">
                <div class="ttm-page-title-row ttm-bg ttm-bgimage-yes ttm-bgcolor-darkgrey clearfix custom-project-banner">
                    <div class="ttm-row-wrapper-bg-layer ttm-bg-layer" style="border-radius: 7px;"></div>
                    <div class="container">
                        <div class="row align-items-center">
                            <div class="col-lg-12">
                                <div class="ttm-page-title-row-inner">
                                    <div class="page-title-heading">
                                        <h4 class="title lang" key="meinheading2015">Our 2015 Projects</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- page-title end -->
    <!-- Link Swiper's CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css" />

    <div class="custom-card-design">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-11">
                    <div class="row">
                        <div class="col-md-6 my-3">
                            <div class="custom_card">
                                <!-- Swiper -->
                                <div class="swiper project-swiper">
                                    <div class="swiper-wrapper">
                                        <div class="swiper-slide"><img class="img-fluid" src="images/projects/nine/1.jpg" alt=""></div>
                                        <div class="swiper-slide"><img class="img-fluid" src="images/projects/nine/2.jpg" alt=""></div>
                                        <div class="swiper-slide"><img class="img-fluid" src="images/projects/nine/3.jpg" alt=""></div>
                                        <div class="swiper-slide"><img class="img-fluid" src="images/projects/nine/4.jpg" alt=""></div>
                                    </div>
                                    <div class="swiper-button-next"><i class="bi bi-arrow-right-short"></i></div>
                                    <div class="swiper-button-prev"><i class="bi bi-arrow-left-short"></i></div>
                                </div>
                                <div class="alignment_solve custom_text">
                                    <h4 class="lang" key="p_2015_head1">Saad Lot 2 Project</h4>
                                    <p class="lang" key="p_2015_1des1">400,000 m3 / day raw water to provide 300,000 m3 / day drinking water Supply and installation of Wide range of ANDRITZ Submersible borehole Pumps with MST (Modular Shaft Technology) & ANDRITZ Ritz Submersible motors (390 KW / 4160V/60 Hz) includes complete civil & mechanical works</p>
                                    <p class="mb-2 lang" key="p_2015_1des2"><b>Project Type: </b> Saad Lot 2 Project</p>
                                    <p class="mb-2 lang" key="p_2015_1des3"><b>Year: </b>2015</p>
                                    <p class="mb-2 lang" key="p_2015_1des4"><b>Location: </b>Saad Village on Dammam Road</p>
                                    <p class="mb-2 lang" key="p_2015_1des5"><b>Client: </b>NWC</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Swiper JS -->
<script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>


<script>
    var projectSwiper = new Swiper(".project-swiper", {
        spaceBetween: 30,
        centeredSlides: true,
        navigation: {
            nextEl: ".swiper-button-next",
            prevEl: ".swiper-button-prev",
        },
    });
</script>

