
<script>
    document.title = 'Partners || NWWC - National Water Works CO';
</script>


<link rel="stylesheet" type="text/css" href="css/career.css" /> 

<div class="blue-pattern">
    <!-- page-title -->
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-11">
                <div class="ttm-page-title-row ttm-bg ttm-bgimage-yes ttm-bgcolor-darkgrey clearfix custom-parent-banner">
                    <div class="ttm-row-wrapper-bg-layer ttm-bg-layer" style="border-radius: 7px;"></div>
                    <div class="container">
                        <div class="row align-items-center">
                            <div class="col-lg-12">
                                <div class="ttm-page-title-row-inner">
                                    <div class="page-title-heading">
                                        <h4 class="title lang" key="product">Product Range</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- page-title end -->





    <section class="our_partners mb-5">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-11">
                    <div class="row">
                        <div class="col-md-6">
                            <a href="https://www.andritz.com/pumps-en" target="_blank">
                                <div class="partner_box">
                                    <img src="images/new_partners/4.png" alt="" class="new_partners_logo">
                                    <div class="row">
                                        <div class="col-12 d-flex justify-content-start">
                                            <img src="images/our-partners/one/3.png" alt="" class="p_logo">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12">
                                            <img src="images/our-partners/one/1.jpg" alt="" class="c_p">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12">
                                            <p class="alignment_solve lang" key="product1">
                                                <b>ANDRITZ</b> Over 165 years of experience in hydraulic machine manufacturing and complete process know-how form the basis for our pumps‘ high performance. <br>
                                                Professional expertise to offer premium pumping technology tailored to our customers’ requests and needs
                                                <br>
                                                Hugh range of pumps types, flow range, head range.
                                            </p>
                                        </div>
                                        <div class="col-12">
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-6">
                            <a href="http://www.rossvalve.com/" target="_blank">
                                <div class="partner_box">
                                    <img src="images/new_partners/2.png" alt="" class="new_partners_logo">
                                    <div class="row">
                                        <div class="col-12 d-flex justify-content-start">
                                            <img src="images/product/four/3.jpg" alt="" class="p_logo">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12">
                                            <img src="images/new_country/usa.jpg" alt="" class="c_p">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12">
                                            <p class="alignment_solve lang" key="product2">
                                                <b>Rossvalue</b> was founded in 1879, he made Water Flow Control Valves that were designed to last. He also created a company built on enduring values: integrity of design and engineering, quality of materials, craftsmanship in flow control valve manufacturing, a high level of customer service, and flexible business systems that have evolved with changes in technology and industries we serve.
                                            </p>
                                        </div>
                                        <div class="col-12">
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-6">
                            <a href="https://www.miltonroy.com/en-pk/" target="_blank">
                                <div class="partner_box">
                                    <img src="images/new_partners/3.png" alt="" class="new_partners_logo">
                                    <div class="row">
                                        <div class="col-12 d-flex justify-content-start">
                                            <img src="images/product/two/10.png" alt="" class="p_logo">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12">
                                            <img src="images/our-partners/one/1.jpg" alt="" class="c_p">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12">
                                            <p class="alignment_solve lang" key="product3">
                                                <b>MILTON ROY</b> at Milton Roy, we are dedicated to quality ̶ for the entire life of the pump
                                            </p>
                                        </div>
                                        <div class="col-12">
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-6">
                            <a href="https://franklinwater.eu/" target="_blank">
                                <div class="partner_box">
                                    <img src="images/new_partners/7.png" alt="" class="new_partners_logo">
                                    <div class="row">
                                        <div class="col-12 d-flex justify-content-start">
                                            <img src="images/our-partners/three/1.png" alt="" class="p_logo">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12">
                                            <img src="images/our-partners/three/3.jpg" alt="" class="c_p">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12">
                                            <p class="alignment_solve lang" key="product4">
                                                <b>Franklin Electric</b>  produce a wide range to meet various applications requirements.
                                                <br>
                                                Encapsulated and rewind able types up to 500hp and 12” size with different rating voltage, using different high quality materials.
                                            </p>
                                        </div>
                                        <div class="col-12">
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        
                        <div class="col-md-6">
                            <a href="https://www.ksb.com/en-pk" target="_blank">
                                <div class="partner_box">
                                    <img src="images/new_partners/6.png" alt="" class="new_partners_logo">
                                    <div class="row">
                                        <div class="col-12 d-flex justify-content-start">
                                            <img src="images/product/one/1.png" alt="" class="p_logo w-auto">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12">
                                            <img src="images/arbia.png" alt="" class="c_p">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12">
                                            <p class="alignment_solve lang" key="product5">
                                                <b>KSB</b>Pumps, valves, and services ─ this is KSB’s business. Their highly efficient, reliable solutions are used wherever fluids need to be transported, controlled or shut off. From standard products for applications in building services and industry to custom-made units for the mining and energy sectors to special solutions for transporting water or chemicals ─ they provide our customers with highest-quality pumps and valves. These products offer a long service life, minimal wear and maintenance as well as optimal energy efficiency systems for extracting and transporting water and disposing of wastewater are reliable and economical. By providing reliable and efficient systems, KSB helps to ensure that people around the world have access to water and that water gets to wherever it is needed reliably.
                                            </p>
                                        </div>
                                        <div class="col-12">
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-6">
                            <a href="https://www.seepex.com/en" target="_blank">
                                <div class="partner_box">
                                    <img src="images/new_partners/11.png" alt="" class="new_partners_logo">
                                    <div class="row">
                                        <div class="col-12 d-flex justify-content-start">
                                            <img src="images/new_sp.jpeg" alt="" class="p_logo">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12">
                                            <img src="images/our-partners/seven/2.jpg" alt="" class="c_p">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12">
                                            <p class="alignment_solve lang" key="product6">
                                                <b>SEEPEX</b> is a leading worldwide specialist in pump technology.
                                                <br>
                                                Their progressive cavity pumps, macerators and control systems are used wherever low to highly viscous, aggressive or abrasive media must be conveyed at low pulsation rates.
                                                <br>
                                                Customers choose them because they offer excellent, reliable and cost‐efficient solutions.
                                                <br>
                                                Their product line consists of the latest and smartest technology; Smart Air Injection, Smart Conveying Technology, Mine Dewatering Unit, Metering Pump, Food Pumps, and Control Systems. SCT Smart conveying technology
                                            </p>
                                        </div>
                                        <div class="col-12">
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        
                        <div class="col-md-6">
                            <a href="https://www.erhard.de/en/" target="_blank">
                                <div class="partner_box">
                                    <img src="images/new_partners/10.png" alt="" class="new_partners_logo">
                                    <div class="row">
                                        <div class="col-12 d-flex justify-content-start">
                                            <img src="images/erhard.png" alt="" class="p_logo">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12">
                                            <img src="images/our-partners/six/2.jpg" alt="" class="c_p">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12">
                                            <p class="alignment_solve lang" key="product7">
                                                <b>Erhard</b>  is one of the most important manufacturer of water valves in the world with experienced dating back 140 years.
                                                <br>
                                                Erhard supplies valves for all sectors of the water supply industry in all size ranges, from domestic service lines valves to valves power plants with nominal widths from DN 40 to DN3000.
                                            </p>
                                        </div>
                                        <div class="col-12">
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>



                        <div class="col-md-6">
                            <a href="https://www.aristoncavi.com/" target="_blank">
                                <div class="partner_box">
                                    <img src="images/new_partners/9.png" alt="" class="new_partners_logo">
                                    <div class="row">
                                        <div class="col-12 d-flex justify-content-start">
                                            <img src="images/our-partners/five/1.png" alt="" class="p_logo w-auto">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12">
                                            <img src="images/our-partners/three/3.jpg" alt="" class="c_p">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12">
                                            <p class="alignment_solve lang" key="product8">
                                                <b>Aristoncavi</b> is one of the most important independent manufactures of rubber cable, in different formation for wide range of applications.
                                                <br>
                                                Insulated low-voltage, medium-voltage and special cables witch classified to fire and high temperature resistance, heavy duty condition resistance cables and cables resisting liquids and DRINCABLE in some of cables types that Aristoncavi produced.
                                            </p>
                                        </div>
                                        <div class="col-12">
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-6">
                            <a href="https://www.hitachi.com.sg/ice/products/motors/index.html" target="_blank">
                                <div class="partner_box">
                                    <img src="images/new_partners/8.png" alt="" class="new_partners_logo">
                                    <div class="row">
                                        <div class="col-12 d-flex justify-content-start">
                                            <img src="images/our-partners/four/1.png" alt="" class="p_logo">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12">
                                            <img src="images/our-partners/four/2.png" alt="" class="c_p">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12">
                                            <p class="alignment_solve lang" key="product9">
                                                <b>Hitachi</b> was the first to manufacture electric motors in  japan on 1914. it’s the pioneer of submersible motors  market
                                                <br>=
                                                Hitachi manufacturers a complete range of  submersible pump motors, 6” up to 14” size for a  standard and high temperature application up to 75˚C  with standard and stainless steel construction.
                                            </p>
                                        </div>
                                        <div class="col-12">
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>


                        <div class="col-md-6">
                            <a href="https://www.bakerhughes.com/" target="_blank">
                                <div class="partner_box">
                                    <img src="images/14.png" alt="" class="new_partners_logo">
                                    <div class="row">
                                        <div class="col-12 d-flex justify-content-start">
                                            <img src="images/our-partners/ten/1.png" alt="" class="p_logo">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12">
                                            <img src="images/our-partners/nine/2.jpg" alt="" class="c_p">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12">
                                            <p class="alignment_solve lang" key="product10">
                                                <b>Baker Hughes</b> was formed in 1987 
                                                <br>
                                                Extreme Temperature™ (ET) ESP system
                                                <br>
                                                High performance slim equipment (10” max).
                                                <br>
                                                Pumps up to 4500GP
                                                <br>
                                                High efficiency motors.
                                            </p>
                                        </div>
                                        <div class="col-12">
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>

                        <div class="col-md-6">
                            <a href="https://www.grpumps.com/" target="_blank">
                                <div class="partner_box">
                                    <img src="images/new_partners/12.png" alt="" class="new_partners_logo">
                                    <div class="row">
                                        <div class="col-12 d-flex justify-content-start">
                                            <img src="images/our-partners/eight/1.png" alt="" class="p_logo w-auto">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12">
                                            <img src="images/our-partners/eight/2.jpg" alt="" class="c_p">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12">
                                            <p class="alignment_solve lang" key="product11">
                                                <b>GR </b> For more than 80 years, Gorman-Rupp has manufactured the high performance, high quality pumps and pumping systems required for lasting service in the municipal, water, wastewater, sewage, industrial, construction, petroleum, fire and OEM markets.
                                            </p>
                                        </div>
                                        <div class="col-12">
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-6">
                            <a href="https://www.ge.com/" target="_blank">
                                <div class="partner_box">
                                    <img src="images/new_partners/13.png" alt="" class="new_partners_logo">
                                    <div class="row">
                                        <div class="col-12 d-flex justify-content-start">
                                            <img src="images/our-partners/nine/1.png" alt="" class="p_logo w-auto">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12">
                                            <img src="images/our-partners/nine/2.jpg" alt="" class="c_p">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12">
                                            <p class="alignment_solve lang" key="product12">
                                                <b>GE</b> manufactured motors for some of the first commercial and  industrial electrical applications.
                                                <br>
                                                GE designed rotating machines that comply with all global  standards such as ABS, API, ATEX, CSA, DNV, ExN, ExP, GOST,  IEC, IEEE, Lloyds, and NEMA
                                            </p>
                                        </div>
                                        <div class="col-12">
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-6">
                            <a href="https://www.trevitech.it/en/welcome/" target="_blank">
                                <div class="partner_box">
                                    <img src="images/new_partners/5.png" alt="" class="new_partners_logo">
                                    <div class="row">
                                        <div class="col-12 d-flex justify-content-start">
                                            <img src="images/client/6.png" alt="" class="p_logo">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12">
                                            <img src="images/our-partners/two/2.jpg" alt="" class="c_p">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12">
                                            <p class="alignment_solve lang" key="product13">
                                                <b>TREVITECH</b> For over 30 years, Trevitech has designed and manufactured control devices for the management of pumps and booster sets.
                                                <br>
                                                Trevitech owns and controls the entire supply chain of its products sold worldwide under the Watertech and Treviengineering brands, of that it owns.
                                                <br>
                                                Our production meets the highest quality standards, thanks to our continuous investments in research and development of increasingly high-performance products.
                                            </p>
                                        </div>
                                        <div class="col-12">
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-6">
                            <a href="https://www.pumpsgp.com/" target="_blank">
                                <div class="partner_box">
                                    <img src="images/new_partners/15.png" alt="" class="new_partners_logo">
                                    <div class="row">
                                        <div class="col-12 d-flex justify-content-start">
                                            <img src="images/our-partners/eleven/1.jpg" alt="" class="p_logo">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12">
                                            <img src="images/our-partners/eleven/2.png" alt="" class="c_p">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12">
                                            <p class="alignment_solve lang" key="product14">
                                                <b>General Pumps</b> Since 1990, GP provides In-House Design and Manufacturing (In house casting facility). With more than 2000 models of pumps sold in more than 20 countries worldwide, GP is renowned for supplying various types of pumps. From UL-listed fire-fighting sets, Split-Case, End-suction pumps, to domestic booster pumps. GP assures that each and every pump is computerized performance tested according to ISO 9906 / ANSI/HI/14.6 standard.
                                            </p>
                                        </div>
                                        <div class="col-12">
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-6">
                            <a href="https://mwipumps.com/" target="_blank">
                                <div class="partner_box">
                                    <img src="images/new_partners/16.png" alt="" class="new_partners_logo">
                                    <div class="row">
                                        <div class="col-12 d-flex justify-content-start">
                                            <img src="images/our-partners/twellve/1.png" alt="" class="p_logo w-auto">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12">
                                            <img src="images/our-partners/twellve/2.jpg" alt="" class="c_p">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12">
                                            <p class="alignment_solve lang" key="product15">
                                                <b>MWI Pumps</b> manufacture commercial-quality axial and mixed flow pumps for any job of any size. <br>
                                                Heavy-duty high-volume water pumps are made with patented MWI developed technology, and they are internationally recognized for their longevity, efficiency, and performance. <br>
                                                MWI large volume pumps are currently in use in over fifty countries around the world.
                                            </p>
                                        </div>
                                        <div class="col-12">
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>
</div>




<script src="js/jquery.js"></script>
<script>
    $(window).on("scroll", function () {
        if (matchMedia('only screen and (min-width: 1200px)').matches) {
            if ($(window).scrollTop() >= 50) {

                $('.ttm-stickable-header').addClass('fixed-header');
            } else {

                $('.ttm-stickable-header').removeClass('fixed-header');
            }
        }
    });

    $('#product').addClass('header-mennu-active');
</script>  