@{
    ViewData["Title"] = "Policies Page";
}

<script>
    document.title = 'Policies || NWWC - National Water Works CO';
</script>
 

<link rel="stylesheet" type="text/css" href="css/career.css" />

<link rel="stylesheet" type="text/css" href="css/our-company.css" />

<link rel="stylesheet" type="text/css" href="css/o-team.css" />

<link rel="stylesheet" type="text/css" href="css/faq.css" />
<div class="blue-pattern">
    <!-- page-title -->
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-11">
                <div class="ttm-page-title-row ttm-bg ttm-bgimage-yes ttm-bgcolor-darkgrey clearfix custom-privacy-banner">
                    <div class="ttm-row-wrapper-bg-layer ttm-bg-layer" style="border-radius: 7px;"></div>
                    <div class="container">
                        <div class="row align-items-center">
                            <div class="col-lg-12">
                                <div class="ttm-page-title-row-inner">
                                    <div class="page-title-heading">
                                        <h4 class="title lang" key="policies">Our Policies</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- page-title end -->












    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-11">
                <div class="boxaccordion">
                    <div class="containerwidth">
                        <div class="wrapper">
                            <button class="toggle"><span class="lang" key="pol_head1">Return and exchange policy</span><i class="bi bi-plus-lg icon"></i></button>
                            <div class="content">
                                <section class="custom_mission_view">
                                    <div class="container">
                                        <div class="alignment_solve row">
                                            <div class="col-12">
                                                <p class="mt-3 lang" key="pol_des1_1"><b>The return or exchange policy is for products that were purchased through the outlets of the National Water Works Company:</b></p>
                                                <ul class="mt-3 ml-4">
                                                    <div class="inline-li">
                                                    <li class="lang" key="pol_des1_2">Products purchased through a distributor are not returned or exchanged.</li>
                                            </div>

                                            <div class="inline-li">
                                                <li class="lang" key="pol_des1_3">Refunds or exchanges are only made according to the original invoice.</li>
                                            </div>

                                            <div class="inline-li">
                                                <li class="lang" key="pol_des1_4">The customer has the right to return within 7 days from the date of the invoice, including official holidays</li>
                                            </div>

                                            <div class="inline-li">
                                                <li class="lang" key="pol_des1_5">The customer has the right to exchange within 14 days from the date of the invoice, including official holidays.</li>
                                            </div>

                                            <div class="inline-li">
                                                <li class="lang" key="pol_des1_6">No liquid or chemical materials can be returned or replaced.</li>
                                            </div>

                                            <div class="inline-li">
                                                <li class="lang" key="pol_des1_7">The customer is not entitled to return or replace a product that was manufactured at the customer’s request or according to specific specifications of the company Kiss.</li>
                                            </div>

                                            <div class="inline-li">
                                                <li class="lang" key="pol_des1_8">Special sales contracts, special orders, or authorized distributor agreements are excluded from this policy.</li>
                                            </div>

                                            </ul>
                                            <p><b class="lang" key="pol_des1_9">Procedures</b></p>
                                            <ul class="mt-3 ml-4">
                                                <div class="inline-li">
                                                <li class="lang" key="pol_des1_10">Verify with the branch official that the goods are intact and unused</li>
                                        </div>

                                        <div class="inline-li">
                                            <li class="lang" key="pol_des1_11">In the event that purchases are returned without replacing them with other items of the same value or higher, the price difference will be returned to the customer. In the same way that the payment was made, (cash / credit cards / bank check / vouchers).</li>
                                        </div>

                                        <div class="inline-li">
                                            <li class="lang" key="pol_des1_12">The returned or replaced goods must be in the same original condition when purchased and not used disassembled or operated in the same original packaging or the original outer box and in the original condition in which it was received from exhibition.</li>
                                        </div>

                                        <div class="inline-li">
                                            <li class="lang" key="pol_des1_13">The warranty policy is subject to the terms and conditions described in the product manual or the terms and conditions of the stated warranty policy from the National Water Works Company.</li>
                                        </div>
                                        </ul>
                                    </div>
                            </div>
                        </div>
                        </section>
                    </div>
                </div>



                <div class="wrapper">
                    <button class="toggle"><span class="lang" key="pol_head2">Limited technical warranty terms for the National Company for Water Works</span> <i class="bi bi-plus-lg icon"></i></button>
                    <div class="content">
                        <section class="custom_mission_view">
                            <div class="container">
                                <div class="alignment_solve row">
                                    <div class="col-12">
                                        <p class="mt-3 lang" key="pol_des2_1">We are committed to upholding the following values:</p>
                                        <ul class="mt-3">
                                            <div class="inline-li">
                                            <li class="lang" key="pol_des2_2">
                                                The National Water Works Company guarantees the products sold through it or through one of its local agents, against manufacturing defects or defects in the manufactured materials, for a period of one year from the date of the invoice.
                                            </li>
                                    </div>

                                    <div class="inline-li">
                                        <li class="lang" key="pol_des2_3">
                                            The guarantee is valid only upon presentation of the original invoice. It is presented with the defective product within the warranty period, and the National Water Works Company will refuse to accept the warranty if the product purchase invoice is not presented. In addition, no this warranty applies if the model name or serial number on the product has been deleted or modified.
                                        </li>
                                    </div>

                                    <div class="inline-li">
                                        <li class="lang" key="pol_des2_4">
                                            The guarantee does not include improper transportation, loading or unloading in the event of a warehouse land supply.
                                        </li>
                                    </div>

                                    <div class="inline-li">
                                        <li class="lang" key="pol_des2_5">
                                            It does not include business guarantee and broken caused by abuse to use, abusive, or unimaginable, or for the commitment of the role of the role of the role of the employee, the defects of the work Specinated at the site, such as defects or error in the installation of the cable connection in. In the event that the installation was done by the customer or the malfunctions resulting from a violation of the directions and instructions shown in the installation and operation books attached to the product.
                                        </li>
                                    </div>

                                    <div class="inline-li">
                                        <li class="lang" key="pol_des2_6">
                                            The warranty does not include any defect as a result of fire, explosion of the electricity source, or malfunction of the electric cable.
                                        </li>
                                    </div>

                                    <div class="inline-li">
                                        <li class="lang" key="pol_des2_7">
                                            This warranty does not include the electric motor in the event that the electric control panel does not comply with the technical specifications recommended by the National Water Works Company and the factory, or when a cable that is not recommended is used, or if a fault occurs. Malfunction of the electric current.
                                        </li>
                                    </div>

                                    <div class="inline-li">
                                        <li class="lang" key="pol_des2_8">
                                            The submersible motor shall be mounted on a pump such that the braking capacity of the pump is 15% less than the nominal motor power.
                                        </li>
                                    </div>

                                    <div class="inline-li">
                                        <li class="lang" key="pol_des2_9">
                                            The company guarantees the pumps so that the design performance point is according to the agreement with the customer, based on the information and specifications given to the company by the customer, and so that the allowable variation in the performance of the pump in terms of discharge rate. The lift to the bowls, the input power of the fans, and the efficiency of the fans according to the Gulf Standard Specifications No. QQS 930/1997.
                                        </li>
                                    </div>

                                    <div class="inline-li">
                                        <li class="lang" key="pol_des2_10">
                                            The National Water Works Company or its representative shall repair or replace the damaged part in order to return the equipment to a state of proper operation, in the event that it is proven that the cause of the malfunction is due to a manufacturing defect or a defect in the manufactured materials. The company has no other losses as a result of this defect in any way. . With an emphasis on the National Water Works Company, it will always take the initiative to try to repair the broken products or parts thereof before replacing them with new ones in the event that the malfunction is proven to be it is due to a manufacturing defect or a defect in manufactured materials
                                        </li>
                                    </div>

                                    <div class="inline-li">
                                        <li class="lang" key="pol_des2_11">
                                            Repair or replacement of defective products under warranty does not include extension or renewal of the warranty period. It is possible to repair or replace the product according to the provisions of the warranty by means of spare parts having a similar function. .
                                        </li>
                                    </div>

                                    <div class="inline-li">
                                        <li class="lang" key="pol_des2_12">
                                            The customer releases the National Water Works Company from its obligation to install the motor or the complete submersible sold to him, according to Article Eleven of Cabinet Resolution No. 97 dated 5/21/1405 AH, in the event that the Yama contract with one of the contractors for the installation in his own way
                                        </li>
                                    </div>

                                    <div class="inline-li">
                                        <li class="lang" key="pol_des2_13">
                                            The work is obligated when the vision is required to provide a report of the analysis of the quality of the water, the extent of the water and the extent of the warrior freezer, as well To the Promotion of Moral 34978 on the date of 04/06/1410 AH.
                                        </li>
                                    </div>

                                    <div class="inline-li">
                                        <li class="lang" key="pol_des2_14">
                                            The warranty does not cover transportation costs and risks associated with transporting the product to and from the service center of the National Water Works Company.
                                        </li>
                                    </div>

                                    <div class="inline-li">
                                        <li class="lang" key="pol_des2_15">
                                            The guarantee does not include any malfunction or defect resulting from a change in the water level in the well or the presence of salts, acids, sulphates, chlorides, or any other rodent substances in the well water.
                                        </li>
                                    </div>

                                    <div class="inline-li">
                                        <li class="lang" key="pol_des2_16">
                                            The warranty does not include any malfunction or defect resulting from an increase in the well's water temperature beyond the previously agreed-upon value specified on the motor or submersible pump's nameplate, according to the manufacturer's instructions shown in the operating manual.
                                        </li>
                                    </div>

                                    <div class="inline-li">
                                        <li class="lang" key="pol_des2_17">
                                            The guarantee does not include any malfunction or defect as a result of the presence of an unauthorized high percentage of sand in the water, which should not exceed 50 grams / cubic meter, or as a result of the lack of development of the well, or the presence of drilling residues inside the well, or the presence of Oily plankton with water the well.
                                        </li>
                                    </div>

                                    <div class="inline-li">
                                        <li class="lang" key="pol_des2_18">
                                            Any action taken by the customer to check the equipment or repair part or all of it without the knowledge and approval of the National Water Works Company nullifies the technical warranty given to the equipment.
                                        </li>
                                    </div>

                                    <div class="inline-li">
                                        <li class="lang" key="pol_des2_19">
                                            Any change or modification in the product voids the technical warranty granted to it.
                                        </li>
                                    </div>

                                    <div class="inline-li">
                                        <li class="lang" key="pol_des2_20">
                                            The customer undertakes to notify the company of any defect that occurs in the equipment within a maximum period of seven days from the date of its occurrence, and any malfunctions or losses resulting from its continued operation after this period lead to the cancellation of the technical warranty on it.
                                        </li>
                                    </div>

                                    <div class="inline-li">
                                        <li class="lang" key="pol_des2_21">
                                            The National Water Works Company undertakes to provide the necessary spare parts at prevailing prices at the time for a period of five years from the date of purchase to ensure the operation of the equipment
                                        </li>
                                    </div>

                                    <div class="inline-li">
                                        <li class="lang" key="pol_des2_22">
                                            Without prejudice to the knowledge of the exclusions of this limited warranty, NWC shall not be liable to the purchaser or any third party for incidental expenses or other costs or damages, including direct physical and moral damages. or indirect. This includes, but is not limited to, lost profits, lost time, and lost business opportunities. WHETHER WHETHER IT IS PROVIDED TO BE A MANUFACTURY, MANUFACTURING, DESIGN, OR FAILURE OF WARNING Or not
                                        </li>
                                    </div>
                                    </ul>
                                </div>
                            </div>
                    </div>
                    </section>
                </div>
            </div>




            <div class="wrapper">
                <button class="toggle"><span class="lang" key="pol_head3">Our Values</span><i class="bi bi-plus-lg icon"></i></button>
                <div class="content">
                    <section class="custom_mission_view">
                        <div class="container">
                            <div class="alignment_solve row">
                                <div class="col-12">
                                    <p class="mt-3 lang" key="pol_des3_1">We are committed to upholding the following values:</p>
                                    <ul class="mt-3">
                                        <div class="inline-li">
                                            <h5 class="lang" key="pol_des3_2">Customer-centric : </h5>
                                        <li class="lang" key="pol_des3_3"> We are dedicated to putting our customers at the center of everything we do. We strive to understand their needs and exceed their expectations.</li>
                                </div>

                                <div class="inline-li">
                                    <h5 class="lang" key="pol_des3_4">Integrity : </h5>
                                    <li class="lang" key="pol_des3_5">We believe in operating with the highest level of integrity in all our business dealings. We are transparent, honest, and ethical in our actions and decisions.</li>
                                </div>

                                <div class="inline-li">
                                    <h5 class="lang" key="pol_des3_6">Innovation : </h5>
                                    <li class="lang" key="pol_des3_7">We embrace creativity and innovation in all aspects of our business. We continuously seek new ways to improve our products, services, and processes to better serve our customers.</li>
                                </div>

                                <div class="inline-li">
                                    <h5 class="lang" key="pol_des3_8">Teamwork : </h5>
                                    <li class="lang" key="pol_des3_9">We value collaboration and teamwork. We believe that by working together, we can achieve more than we could individually. We foster a supportive and inclusive work environment where everyone feels valued and respected.</li>
                                </div>

                                <div class="inline-li">
                                    <h5 class="lang" key="pol_des3_10">Responsibility : </h5>
                                    <li class="lang" key="pol_des3_12">We recognize our responsibility to our customers, employees, stakeholders, and the environment. We take a proactive approach to social and environmental issues and seek to make a positive impact on our communities.</li>
                                </div>

                                <p class="pt-2 lang" key="pol_des3_12">These values guide our actions and decisions and reflect who we are as a company. We are proud to uphold them and remain committed to providing exceptional products and services to our customers while contributing to a better world.  </p>
                                </ul>
                            </div>
                        </div>
                </div>
                </section>
            </div>
        </div>
        <div class="wrapper wrapper2">
            <button class="toggle"><span class="lang" key="pol_head4">Health, safety, quality and environmental policies</span><i class="bi bi-plus-lg icon"></i></button>
            <div class="content">
                <section class="custom_mission_view">
                    <div class="container">
                        <div class="alignment_solve row">
                            <div class="col-12">
                                <div class="row">
                                    <div class="col-12 mt-3">
                                        <p class="lang" key="pol_des4_1">NWWC's  Health, Safety, Quality and Environmental policies</p>
                                    </div>
                                </div>
                                <ul class="mt-3">
                                    <div class="inline-li">
                                        <h5 class="lang" key="pol_des4_2">Health Policy : </h5>
                                    <li class="lang" key="pol_des4_3">NWWC is committed to ensuring the health and well-being of its employees by providing a safe and healthy work environment. The company provides access to health insurance and wellness programs to help employees maintain their physical and mental health.</li>
                            </div>

                            <div class="inline-li">
                                <h5 class="lang" key="pol_des4_4">Safety Policy : </h5>
                                <li class="lang" key="pol_des4_5">
                                    NWWC prioritizes safety in the workplace and has implemented a comprehensive safety program to minimize accidents and injuries. The company provides regular safety training to employees and promotes a culture of safety by encouraging employees to report any safety concerns or hazards.
                                </li>
                            </div>

                            <div class="inline-li">
                                <h5 class="lang" key="pol_des4_6">Quality Policy : </h5>
                                <li class="lang" key="pol_des4_7">NWWC is dedicated to providing high-quality products and services to its customers. The company has implemented a quality management system that ensures the quality of its products and services at every stage of the production process.</li>
                            </div>

                            <div class="inline-li">
                                <h5 class="lang" key="pol_des4_8">Environmental Policy : </h5>
                                <li class="lang" key="pol_des4_9">NWWC recognizes the importance of protecting the environment and has implemented an environmental management system to minimize its impact on the environment. The company has implemented recycling programs, uses eco-friendly materials, and monitors its energy consumption to reduce its carbon footprint.</li>
                            </div>

                            <div class="inline-li">
                                <h5 class="lang" key="pol_des4_10">Compliance Policy : </h5>
                                <li class="lang" key="pol_des4_11">NWWC is committed to complying with all applicable laws and regulations and has implemented a compliance program to ensure that its operations meet all legal and regulatory requirements. The company regularly conducts audits and reviews its policies and procedures to ensure compliance with all applicable laws and regulations.</li>
                            </div>
                            </ul>
                        </div>
                    </div>
            </div>
            </section>
        </div>
    </div>
    <div class="wrapper wrapper3 mb-0">
        <button class="toggle"><span class="lang" key="pol_head5">Human Capital</span><i class="bi bi-plus-lg icon"></i></button>
        <div class="content">
            <section class="custom_mission_view">
                <div class="container">
                    <div class="alignment_solve row">
                        <div class="col-12">
                            <div class="row">
                                <div class="col-12 mt-3">
                                    <p class="lang" key="pol_des5_1">NWWC's investment in human capital</p>
                                </div>
                            </div>
                            <ul class="mt-3">
                                <div class="inline-li">
                                    <h5 class="lang" key="pol_des5_2">Training and Development Programs : </h5>
                                    <li class="lang" key="pol_des5_3">NWWC offers a comprehensive training and development program to its employees to enhance their skills and knowledge. The company provides regular training sessions and workshops to help employees learn new technologies and stay up-to-date with the latest industry trends.</li>
                                </div>

                                <div class="inline-li">
                                    <h5 class="lang" key="pol_des5_4">Mentoring and Coaching : </h5>
                                    <li class="lang" key="pol_des5_5">
                                        NWWC provides mentoring and coaching programs to help employees achieve their career goals. The company assigns mentors to new employees to guide them through their onboarding process and offers coaching sessions to help employees develop their leadership and management skills.
                                    </li>
                                </div>
                                <div class="inline-li">
                                    <h5 class="lang" key="pol_des5_6">Health and Wellness Programs : </h5>
                                    <li class="lang" key="pol_des5_7">NWWC invests in the health and well-being of its employees by offering health insurance plans, gym memberships, and wellness programs. The company encourages its employees to lead a healthy lifestyle by providing healthy snacks and organizing wellness events.</li>
                                </div>

                                <div class="inline-li">
                                    <h5 class="lang" key="pol_des5_8">Work-Life Balance : </h5>
                                    <li class="lang" key="pol_des5_9">NWWC recognizes the importance of work-life balance and offers flexible work arrangements to its employees. The company provides options such as remote work, flexible schedules, and paid time off to help employees manage their work and personal lives.</li>
                                </div>

                                <div class="inline-li">
                                    <h5 class="lang" key="pol_des5_10">Diversity and Inclusion : </h5>
                                    <li class="lang" key="pol_des5_11">NWWC promotes diversity and inclusion in the workplace by creating a culture of respect and inclusion. The company values diversity and encourages employees to express their opinions and ideas freely, creating a work environment where everyone feels valued and respected.</li>
                                </div>

                            </ul>
                        </div>
                    </div>
            </div>
            </section>
        </div>
    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</div>


<script src="js/jquery.js"></script>
<script>
    $(window).on("scroll", function () {
        if (matchMedia('only screen and (min-width: 1200px)').matches) {
            if ($(window).scrollTop() >= 50) {

                $('.ttm-stickable-header').addClass('fixed-header');
            } else {

                $('.ttm-stickable-header').removeClass('fixed-header');
            }
        }
    });

    $('#about').addClass('header-mennu-active');





    //<![CDATA[
    let toggles = document.getElementsByClassName("toggle");
    let contentDiv = document.getElementsByClassName("content");
    let icons = document.getElementsByClassName("icon");

    for (let i = 0; i < toggles.length; i++) {
        toggles[i].addEventListener("click", () => {
            if (parseInt(contentDiv[i].style.height) != contentDiv[i].scrollHeight) {
                contentDiv[i].style.height = contentDiv[i].scrollHeight + "px";
                toggles[i].style.color = "#fff";
                icons[i].classList.remove("bi-plus-lg");
                icons[i].classList.add("bi-dash");
            } else {
                contentDiv[i].style.height = "0px";
                toggles[i].style.color = "#fff";
                icons[i].classList.remove("bi-dash");
                icons[i].classList.add("bi-plus-lg");
            }

            for (let j = 0; j < contentDiv.length; j++) {
                if (j !== i) {
                    contentDiv[j].style.height = 0;
                    toggles[j].style.color = "#fff";
                    icons[j].classList.remove("bi-dash");
                    icons[j].classList.add("bi-plus-lg");
                }
            }
        });
    }
    //]]>
</script>
