<?php include 'attachments/header.php' ?>

<script>
    document.title = 'Product Range || NWWC - National Water Works CO';
</script>
 
<link rel="stylesheet" href="css/product_custom.css">
<link rel="stylesheet" type="text/css" href="css/career.css" />
<div class="blue-pattern">
    <!-- page-title -->  
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-11">
                <div class="ttm-page-title-row ttm-bg ttm-bgimage-yes ttm-bgcolor-darkgrey clearfix custom-product-banner">
                    <div class="ttm-row-wrapper-bg-layer ttm-bg-layer" style="border-radius: 7px;"></div>
                    <div class="container">
                        <div class="row align-items-center">
                            <div class="col-lg-12">
                                <div class="ttm-page-title-row-inner">
                                    <div class="page-title-heading">
                                        <h4 class="title lang" key="application">Applications</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- page-title end -->



    <section class="product_custom">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-11">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="product_box">
                                <div>
                                    <div class="row">
                                        <div class="col-12">
                                            <h4 class="alignment_solve lang" key="app1head">Submersible Borehole Pumps </h4>
                                        </div>
                                    </div>
                                    <div class="row align-items-center">
                                        <div class="col-md-7">
                                            <div class="alignment_solve new_para_product">
                                                <p class="mb-0 lang" key="app1des1">
                                                    NWWC’s core product range. The Water Wells pumps offered by the pioneer European manufacturers who have extraordinary experience in designing quality pumps with high reliability. Offering wide variety of options,
                                                </p>
                                                <p class="moretext mb-0 lang" key="app1des2">
                                                    including fully stainless steel pumps, bronze, cast iron and more, NWWC has a complete range of pumps for all your applications.
                                                </p>
                                                <a class="moreless-button lang" key="read_more">Read more</a>
                                            </div>
                                        </div>
                                        <div class="col-md-5 main-img">
                                            <img src="images/news/1.png" class="img-fluid" alt="">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12">
                                            <h5 class="alignment_solve lang" key="related">Related Products:</h5>
                                        </div>
                                        <div class="col-12">
                                            <div class="row related_product">
                                                <div class="col-sm-3 col-6">
                                                    <a href="https://www.ksb.com" target="_blank"><img class="img-fluid" src="images/product/one/1.png" alt=""></a>
                                                </div>
                                                <div class="col-sm-3 col-6">
                                                    <a href="https://www.trevitech.it/en/welcome/" target="_blank"><img class="img-fluid" src="images/product/one/2.png" alt=""></a>
                                                </div>
                                                <div class="col-sm-3 col-6">
                                                    <a href="https://www.bakerhughes.com/" target="_blank"><img class="img-fluid" src="images/product/one/3.png" alt=""></a>
                                                </div>
                                                <div class="col-sm-3 col-6">
                                                    <a href="https://www.andritz.com/pumps-en" target="_blank"><img class="img-fluid" src="images/product/one/4.png" alt=""></a>
                                                </div>
                                                <div class="col-sm-3 col-6">
                                                    <a href="https://www.andritz.com/pumps-en" target="_blank"><img class="img-fluid" src="images/product/five/3.png" alt=""></a>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="product_box">
                                <div>
                                    <div class="row">
                                        <div class="col-12">
                                            <h4 class="alignment_solve lang" key="app2head">Submersible Borehole MOTORS </h4>
                                        </div>
                                    </div>
                                    <div class="row pt-1">
                                        <div class="col-md-7">
                                            <div class="alignment_solve new_para_product">
                                                <p class="mb-0 lang" key="app2des1">
                                                    NWWC’s core product range. The Water Motors offered by the pioneer European manufacturers who have extraordinary experience in designing quality Motors with high reliability. Offering wide variety of options, including fully stainless steel pumps,
                                                </p>
                                                <p class="moretext2 mb-0 lang" key="app2des2">
                                                    bronze, cast iron and more, NWWC has a complete range of Motors for all your applications
                                                </p>
                                                <a class="moreless-button2 lang" key="read_more">Read more</a>
                                            </div>
                                        </div>
                                        <div class="col-md-5 main-img">
                                            <img src="images/product/new/2.png" class="img-fluid" alt="">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="alignment_solve col-12">
                                            <h5 class="lang" key="related">Related Products:</h5>
                                        </div>
                                        <div class="col-12">
                                            <div class="row related_product">
                                                <div class="col-sm-3 col-6">
                                                    <a href="https://franklin-electric.com/" target="_blank"><img class="img-fluid" src="images/product/two/9.png" alt=""></a>
                                                </div>
                                                <div class="col-sm-3 col-6">
                                                    <a href="https://www.bakerhughes.com/" target="_blank"><img class="img-fluid" src="images/product/one/3.png" alt=""></a>
                                                </div>
                                                <div class="col-sm-3 col-6">
                                                    <a href="https://www.bakerhughes.com/" target="_blank"><img class="img-fluid" src="images/product/two/2.png" alt=""></a>
                                                </div>
                                                <div class="col-sm-3 col-6">
                                                    <a href="https://www.andritz.com/pumps-en" target="_blank"><img class="img-fluid" src="images/product/one/4.png" alt=""></a>
                                                </div>
                                                <div class="col-sm-3 col-6">
                                                    <a href="https://www.ksb.com" target="_blank"><img class="img-fluid" src="images/product/one/1.png" alt=""></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="product_box">
                                <div>
                                    <div class="row">
                                        <div class="col-12">
                                            <h4 class="alignment_solve lang" key="app3head">RO & Desalination PUMPS</h4>
                                        </div>
                                    </div>
                                    <div class="row pt-1">
                                        <div class="col-md-7">
                                            <div class="alignment_solve new_para_product">
                                                <p class="mb-0 lang" key="app3des1">
                                                    NWWC has a good experience in the field of RO & Desalination PUMPS, offering a wide range of products and services to meet the needs of various industries.
                                                </p>
                                                <p class="moretext3 mb-0 lang" key="app3des2">
                                                    Our pumps are designed to deliver high performance, reliability, and efficiency while reducing energy consumption and environmental impact. Whether you need a pump for seawater desalination, brackish water treatment, industrial wastewater treatment or any other application, NWWC has the right solution for you. Contact us today to find out more about our range and benefits in RO & Desalination PUMPS.
                                                </p>
                                                <a class="moreless-button3 lang" key="read_more">Read more</a>
                                            </div>
                                        </div>
                                        <div class="col-md-5 main-img">
                                            <img src="images/product/new/3.png" class="img-fluid rounded" alt=""></a>
                                        </div>

                                    </div>
                                    <div class="row">
                                        <div class="col-12">
                                            <h5 class="alignment_solve lang" key="related">Related Products:</h5>
                                        </div>
                                        <div class="col-12">
                                            <div class="row related_product">
                                                <div class="col-sm-3 col-6">
                                                    <a href="https://www.miltonroy.com/en-pk/" target="_blank"><img class="img-fluid" src="images/product/two/10.png" alt=""></a>
                                                </div>
                                                <div class="col-sm-3 col-6">
                                                    <a href="https://www.seepex.com/en/" target="_blank"><img class="img-fluid" src="images/product/three/1.png" alt=""></a>
                                                </div>
                                                <div class="col-sm-3 col-6">
                                                    <a href="https://www.trevitech.it/en/welcome/" target="_blank"><img class="img-fluid" src="images/product/five/2.png" alt=""></a>
                                                </div>
                                                <div class="col-sm-3 col-6">
                                                    <a href="https://www.andritz.com/pumps-en" target="_blank"><img class="img-fluid" src="images/product/five/1.png" alt=""></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="col-lg-6">
                            <div class="product_box">
                                <div>
                                    <div class="row">
                                        <div class="col-12">
                                            <h4 class="alignment_solve lang" key="app4head">Valves & Fittings</h4>
                                        </div>
                                    </div>
                                    <div class="row pt-1">
                                        <div class="col-md-7">
                                            <div class="alignment_solve new_para_product">
                                                <p class="mb-0 lang" key="app4des1">
                                                    With a full line of submersible motors that can be used for groundwater and other submerged pressure pumping applications. Our partner’s motors are tough, built to last, and come in a variety of options.
                                                </p>
                                                <p class="moretext5 mb-0 lang" key="app4des2">
                                                    Sizing of motors range from 4-inches to 12-inches, and power ratings from 0.25 kW to around 400 kW. Featuring the industry’s widest range of voltages for deep well pumps, the reliable motors have long life expectancy and reliable operation.
                                                </p>
                                                <a class="moreless-button5 lang" key="read_more">Read more</a>
                                            </div>
                                        </div>
                                        <div class="col-md-5 main-img">
                                            <img src="images/product/new/4.png" class="img-fluid" alt=""></a>
                                        </div>

                                    </div>
                                    <div class="row">
                                        <div class="col-12">
                                            <h5 class="alignment_solve lang" key="related">Related Products:</h5>
                                        </div>
                                        <div class="col-12">
                                            <div class="row related_product">
                                                <div class="col-sm-3 col-6">
                                                    <a href="https://www.erhard.de/en/" target="_blank"><img class="img-fluid" src="images/erhard.png" alt=""></a>
                                                </div>
                                                <div class="col-sm-3 col-6">
                                                    <a href="http://www.rossvalve.com/" target="_blank"><img class="img-fluid" src="images/product/four/3.jpg" alt=""></a>
                                                </div>
                                                <div class="col-sm-3 col-6">
                                                    <a href="https://www.ampo.com/" target="_blank"><img class="img-fluid" src="images/product/four/2.png" alt=""></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>



                        <div class="col-lg-6">
                            <div class="product_box">
                                <div>
                                    <div class="row">
                                        <div class="col-12">
                                            <h4 class="alignment_solve lang" key="app5head">Booster pumps</h4>
                                        </div>
                                    </div>
                                    <div class="row pt-1">
                                        <div class="col-md-7">
                                            <div class="alignment_solve new_para_product">
                                                <p class="mb-0 lang" key="app5des1">
                                                    NWWC has gained a deep experience in centrifugal pumping systems, and with the cooperation of the best manufacturers around the world, our engineers can design a system that perfectly matches the requirements
                                                </p>
                                                <p class="moretext4 mb-0 lang" key="app5des2">
                                                    of our clients like booster sets for commercial buildings, our dedicated team will provide you the best solution for your need.
                                                </p>
                                                <a class="moreless-button4 lang" key="read_more">Read more</a>
                                            </div>
                                        </div>
                                        <div class="col-md-5 main-img">
                                            <img src="images/product/new/5.png" class="img-fluid " alt="">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12">
                                            <h5 class="alignment_solve lang" key="related">Related Products:</h5>
                                        </div>
                                        <div class="col-12">
                                            <div class="row related_product">
                                                <div class="col-sm-3 col-6">
                                                    <a href="https://www.trevitech.it/en/welcome/" target="_blank"><img class="img-fluid" src="images/product/five/2.png" alt=""></a>
                                                </div>
                                                <div class="col-sm-3 col-6">
                                                    <a href="https://www.pumpsgp.com/?lang=en" target="_blank"><img class="img-fluid" src="images/product/two/11.png" alt=""></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="product_box">
                                <div>
                                    <div class="row">
                                        <div class="col-12">
                                            <h4 class="alignment_solve lang" key="app6head">Transmission pumps </h4>
                                        </div>
                                    </div>
                                    <div class="row pt-1">
                                        <div class="col-md-7">
                                            <div class="alignment_solve new_para_product">
                                                <p class="mb-0 lang" key="app6des1">
                                                    NWWC has gained a deep experience in centrifugal pumping systems, and with the cooperation of the best manufacturers around the world pumping stations for water transfer, our dedicated team will provide you the best solution for your need.
                                                </p>
                                                <p class="moretext6 mb-0 lang" key="app6des2">

                                                </p>
                                                <a class="moreless-button6 lang" key="read_more">Read more</a>
                                            </div>
                                        </div>
                                        <div class="col-md-5 main-img">
                                            <img src="images/product/new/6.png" class="img-fluid" alt="">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12">
                                            <h5 class="alignment_solve lang" key="related">Related Products:</h5>
                                        </div>
                                        <div class="col-12">
                                            <div class="row related_product">
                                                <div class="col-sm-3 col-6">
                                                    <a href="https://www.andritz.com/pumps-en" target="_blank"><img class="img-fluid" src="images/product/five/1.png" alt=""></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-6">
                            <div class="product_box">
                                <div>
                                    <div class="row">
                                        <div class="col-12">
                                            <h4 class="alignment_solve lang" key="app7head">Sewage Pumps & valve</h4>
                                        </div>
                                    </div>
                                    <div class="row pt-1">
                                        <div class="col-md-7">
                                            <div class="alignment_solve new_para_product">
                                                <p class="mb-0 lang" key="app7des1">
                                                    In NWWC we are proud to offer a wide range of sewage pumps for various applications. Whether you need a submersible pump for wastewater treatment, a grinder pump for solids reduction, or a booster pump for pressure boosting, we have the right solution for you.
                                                </p>
                                                <p class="moretext7 mb-0 lang" key="app7des2">
                                                    Our sewage pumps are designed to handle tough conditions and deliver reliable performance. They are also easy to install, operate and maintain. With NWWC you can trust that your sewage pumping needs are in good hands.
                                                </p>
                                                <a class="moreless-button7 lang" key="read_more">Read more</a>
                                            </div>
                                        </div>
                                        <div class="col-md-5 main-img">
                                            <img src="images/product/new/7.png" class="img-fluid" alt="">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12">
                                            <h5 class="alignment_solve lang" key="related">Related Products:</h5>
                                        </div>
                                        <div class="col-12">
                                            <div class="row related_product">
                                                <div class="col-sm-3 col-6">
                                                    <a href="https://www.zenit.com/en-US/Home" target="_blank"><img class="img-fluid" src="images/product/two/12.png" alt=""></a>
                                                </div>
                                                <div class="col-sm-3 col-6">
                                                    <a href="https://www.grpumps.com/" target="_blank"><img class="img-fluid" src="images/product/three/12.png" alt=""></a>
                                                </div>
                                                <div class="col-sm-3 col-6">
                                                    <a href="https://www.andritz.com/pumps-en" target="_blank"><img class="img-fluid" src="images/product/five/1.png" alt=""></a>
                                                </div>
                                                <div class="col-sm-3 col-6">
                                                    <a href="https://www.erhard.de/en/" target="_blank"><img class="img-fluid" src="images/erhard.png" alt=""></a>
                                                </div>
                                                <div class="col-sm-3 col-6">
                                                    <a href="https://www.seepex.com/en/" target="_blank"><img class="img-fluid" src="images/product/three/1.png" alt=""></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-6">
                            <div class="product_box">
                                <div>
                                    <div class="row">
                                        <div class="col-12">
                                            <h4 class="alignment_solve lang" key="app8head">Storm-Water & dewatering pumps </h4>
                                        </div>
                                    </div>
                                    <div class="row pt-1">
                                        <div class="col-md-7">
                                            <div class="alignment_solve new_para_product">
                                                <p class="mb-0 lang" key="app8des1">
                                                    NWWC offers a wide range of self-priming pumps with different capacities, materials, and features to suit different needs, designed to handle high volumes of water in emergency situations. Our pumps are reliable, efficient and easy to operate,
                                                </p>
                                                <p class="moretext8 mb-0 lang" key="app8des2">
                                                    with a range of models to suit different applications and environments. Whether you need a portable pump for temporary use, or a permanent pump for long-term protection, we have the right solution for you. Our pumps also come with a variety of benefits, such as low maintenance costs, high performance and durability, and environmental friendliness. Contact us today to find out more about our flood self-priming pumps and how they can help you prepare for any flood event.
                                                </p>
                                                <a class="moreless-button8 lang" key="read_more">Read more</a>
                                            </div>
                                        </div>
                                        <div class="col-md-5 main-img">
                                            <img src="images/product/new/8.png" class="img-fluid" alt="">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12">
                                            <h5 class="alignment_solve lang" key="related">Related Products:</h5>
                                        </div>
                                        <div class="col-12">
                                            <div class="row related_product">
                                                <div class="col-sm-3 col-6">
                                                    <a href="https://www.grpumps.com/" target="_blank"><img class="img-fluid" src="images/product/three/12.png" alt=""></a>
                                                </div>
                                                <div class="col-sm-3 col-6">
                                                    <a href="https://mwipumps.com/" target="_blank"><img class="img-fluid" src="images/product/five/14.png" alt=""></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="col-lg-6">
                            <div class="product_box">
                                <div>
                                    <div class="row">
                                        <div class="col-12">
                                            <h4 class="alignment_solve lang" key="app9head">UL/FM & Non-UL Fire Pumps</h4>
                                        </div>
                                    </div>
                                    <div class="row pt-1">
                                        <div class="col-md-7">
                                            <div class="alignment_solve new_para_product">
                                                <p class="mb-0 lang" key="app9des1">
                                                    NWWC is a leading company in the field of fire protection systems, offering a wide range of UL/FM and Non-UL fire pumps for various applications. NWWC has partnered with General Pump, a renowned manufacturer of high-quality fire pumps,
                                                </p>
                                                <p class="moretext9 mb-0 lang" key="app9des2">
                                                    to provide our customers with the best solutions for their needs. Whether you need a horizontal split case, vertical turbine, end suction, or in-line fire pump, NWWC and General Pump can deliver the optimal product for your project. Our fire pumps are designed to meet the highest standards of performance, reliability, and safety, and are backed by our comprehensive after-sales service and support. Contact us today to find out more about our fire pump solutions and how we can help you protect your property and assets from fire hazards.
                                                </p>
                                                <a class="moreless-button9 lang" key="read_more">Read more</a>
                                            </div>
                                        </div>
                                        <div class="col-md-5 main-img">
                                            <img src="images/product/new/9.png" class="img-fluid" alt="">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12">
                                            <h5 class="alignment_solve lang" key="related">Related Products:</h5>
                                        </div>
                                        <div class="col-12">
                                            <div class="row related_product">
                                                <div class="col-sm-3 col-6">
                                                    <a href="https://www.pumpsgp.com/?lang=en" target="_blank"><img class="img-fluid" src="images/product/two/11.png" alt=""></a>
                                                </div>
                                                <div class="col-sm-3 col-6">
                                                    <a href="https://mwipumps.com/" target="_blank"><img class="img-fluid" src="images/product/four/17.png" alt=""></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>



                        <div class="col-lg-6">
                            <div class="product_box">
                                <div>
                                    <div class="row">
                                        <div class="col-12">
                                            <h4 class="alignment_solve lang" key="app10head">Electromechanical Accessories</h4>
                                        </div>
                                    </div>
                                    <div class="row pt-1">
                                        <div class="col-md-7">
                                            <div class="alignment_solve new_para_product">
                                                <p class="mb-0 lang" key="app10des1">
                                                    Ariston Cavi manufactures different types of cables, including cables resisting fire and high temperature, cables resisting heavy-duty conditions and cables resisting to liquids. These cables are able to withstand different liquid elements
                                                </p>
                                                <p class="moretext10 mb-0 lang" key="app10des2">
                                                    (fresh and sea water, waste water, etc) Aristoncavi also developed DRINKABLE©, a cable suitable for use in drinking water. The special sheath compound does not give out any toxic substance, this preserving the potability of the water.
                                                </p>
                                                <a class="moreless-button10 lang" key="read_more">Read more</a>
                                            </div>
                                        </div>
                                        <div class="col-md-5 main-img">
                                            <img src="images/news/2.png" class="img-fluid" alt="">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12">
                                            <h5 class="alignment_solve lang" key="related">Related Products:</h5>
                                        </div>
                                        <div class="col-12">
                                            <div class="row related_product">
                                                <div class="col-sm-3 col-6">
                                                    <a href="https://www.aristoncavi.com/" target="_blank"><img class="img-fluid" src="images/client/4.png" style="width: 45px" alt=""></a>
                                                </div>
                                                <div class="col-sm-3 col-6">
                                                    <a href="https://mwipumps.com/" target="_blank"><img class="img-fluid" src="images/product/six/2.png" alt=""></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>



<script src="js/jquery.js"></script>
<script>
    $(window).on("scroll", function () {
        if (matchMedia('only screen and (min-width: 1200px)').matches) {
            if ($(window).scrollTop() >= 50) {

                $('.ttm-stickable-header').addClass('fixed-header');
            } else {

                $('.ttm-stickable-header').removeClass('fixed-header');
            }
        }
    });

    $('#product').addClass('header-mennu-active');
</script>



<script>
    $('.moreless-button').click(function () {
        $('.moretext').slideToggle();
        if ($('.moreless-button').text() == "Read more") {
            $(this).text("Read less")
        } else {
            $(this).text("Read more")
        }
    });

    $('.moreless-button2').click(function () {
        $('.moretext2').slideToggle();
        if ($('.moreless-button2').text() == "Read more") {
            $(this).text("Read less")
        } else {
            $(this).text("Read more")
        }
    });


    $('.moreless-button3').click(function () {
        $('.moretext3').slideToggle();
        if ($('.moreless-button3').text() == "Read more") {
            $(this).text("Read less")
        } else {
            $(this).text("Read more")
        }
    });

    $('.moreless-button4').click(function () {
        $('.moretext4').slideToggle();
        if ($('.moreless-button4').text() == "Read more") {
            $(this).text("Read less")
        } else {
            $(this).text("Read more")
        }
    });


    $('.moreless-button5').click(function () {
        $('.moretext5').slideToggle();
        if ($('.moreless-button5').text() == "Read more") {
            $(this).text("Read less")
        } else {
            $(this).text("Read more")
        }
    });



    $('.moreless-button6').click(function () {
        $('.moretext6').slideToggle();
        if ($('.moreless-button6').text() == "Read more") {
            $(this).text("Read less")
        } else {
            $(this).text("Read more")
        }
    });


    $('.moreless-button7').click(function () {
        $('.moretext7').slideToggle();
        if ($('.moreless-button7').text() == "Read more") {
            $(this).text("Read less")
        } else {
            $(this).text("Read more")
        }
    });



    $('.moreless-button8').click(function () {
        $('.moretext8').slideToggle();
        if ($('.moreless-button8').text() == "Read more") {
            $(this).text("Read less")
        } else {
            $(this).text("Read more")
        }
    });



    $('.moreless-button9').click(function () {
        $('.moretext9').slideToggle();
        if ($('.moreless-button9').text() == "Read more") {
            $(this).text("Read less")
        } else {
            $(this).text("Read more")
        }
    });


    $('.moreless-button10').click(function () {
        $('.moretext10').slideToggle();
        if ($('.moreless-button10').text() == "Read more") {
            $(this).text("Read less")
        } else {
            $(this).text("Read more")
        }
    });
</script>