
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<link rel="stylesheet" type="text/css" href="css/career.css" />
<!-- <link rel="stylesheet" type="text/css" href="css/project.css" /> -->
<link rel="stylesheet" type="text/css" href="css/new-project.css" />
<script>document.title = 'Projects || NWWC - National Water Works CO';
</script>



<div class="blue-pattern">
<!-- page-title -->
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-11">
                <div class="ttm-page-title-row ttm-bg ttm-bgimage-yes ttm-bgcolor-darkgrey clearfix custom-project-banner">
                    <div class="ttm-row-wrapper-bg-layer ttm-bg-layer" style="border-radius: 7px;"></div>
                    <div class="row align-items-center">
                        <div class="col-lg-12">
                            <div class="ttm-page-title-row-inner">
                                <div class="page-title-heading">
                                    <h4 style="font-size: 30px;" class="title lang" key="project">Projects</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<!-- page-title end -->




    <div class="container mb-5">
        <div class="row justify-content-center">
            <div class="col-md-11">
                
                <div class="laptop">
                    <img class="w-100" src="images/infonew.svg">
                    <a href="p_2022" class="p2014"></a>
                    <a href="p_2021" class="p2015"></a>
                    <a href="p_2020" class="p2016"></a>
                    <a href="p_2019" class="p2017"></a>
                    <a href="p_2018" class="p2018"></a>
                    <a href="p_2017" class="p2019"></a>
                    <a href="p_2016" class="p2020"></a>
                    <a href="p_2015" class="p2021"></a>
                    <a href="p_2014" class="p2022"></a>
                    <a href="p_2013" class="p2023"></a>
                    <a href="p_2012" class="p2024"></a>
                    <a href="p_2011" class="p2025"></a>
                    <a href="p_2007" class="p2026"></a>
                    <!-- <a href="2023-projects" class="p2023"></a> -->
                </div>
                <div class="mobile">
                    <div class="row">
                        <div class="col-12 mb-4 text-center">
                            <a href="p_2022"><img src="images/small-info/1.svg"></a>
                        </div>
                        <div class="col-12 mb-4 text-center">
                            <a href="p_2021"><img src="images/small-info/2.svg"></a>
                        </div>
                        <div class="col-12 mb-4 text-center">
                            <a href="p_2020"><img src="images/small-info/3.svg"></a>
                        </div>
                        <div class="col-12 mb-4 text-center">
                            <a href="p_2019"><img src="images/small-info/4.svg"></a>
                        </div>
                        <div class="col-12 mb-4 text-center">
                            <a href="p_2018"><img src="images/small-info/5.svg"></a>
                        </div>
                        <div class="col-12 mb-4 text-center">
                            <a href="p_2017"><img src="images/small-info/6.svg"></a>
                        </div>
                        <div class="col-12 mb-4 text-center">
                            <a href="p_2016"><img src="images/small-info/7.svg"></a>
                        </div>
                        <div class="col-12 mb-4 text-center">
                            <a href="2015"><img src="images/small-info/8.svg" ></a>
                        </div>
                        <div class="col-12 mb-4 text-center">
                            <a href="p_2014"><img src="images/small-info/9.svg"></a>
                        </div>
                        <div class="col-12 mb-4 text-center">
                            <a href="p_2013"><img src="images/small-info/10.svg"></a>
                        </div>
                        <div class="col-12 mb-4 text-center">
                            <a href="p_2012"><img src="images/small-info/11.svg"></a>
                        </div>
                        <div class="col-12 mb-4 text-center">
                            <a href="p_2011"><img src="images/small-info/12.svg"></a>
                        </div>
                        <div class="col-12 mb-4 text-center">
                            <a href="p_2007"><img src="images/small-info/13.svg"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<script src="js/jquery.js"></script>
<script>
    $(window).on("scroll", function() {
        if (matchMedia('only screen and (min-width: 1200px)').matches) {
            if ($(window).scrollTop() >= 50) {
                $('.ttm-stickable-header').addClass('fixed-header');
            } else {
                $('.ttm-stickable-header').removeClass('fixed-header');
            }
        }
    }); 


    $('#project').addClass('header-mennu-active');
</script>