

<script>
    document.title = 'Eng. Abdul-Kareem A. El Mousa || NWWC - National Water Works CO';
</script>


<link rel="stylesheet" type="text/css" href="css/team.css" />
<link rel="stylesheet" type="text/css" href="css/career.css" /> 
<link rel="stylesheet" type="text/css" href="css/o-team.css" />


<!-- page-title -->
<div class="container">
    <div class="ttm-page-title-row ttm-bg ttm-bgimage-yes ttm-bgcolor-darkgrey clearfix custom-team-banner">
        <div class="ttm-row-wrapper-bg-layer ttm-bg-layer" style="border-radius: 7px;"></div>
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-12">
                    <div class="ttm-page-title-row-inner"> 
                        <div class="page-title-heading">
                            <h4 class="title lang" key="vice_chairman">Vice Chairman</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- page-title end -->



<div class="container">
    <section id="team" class="team team-bg py-5">
        <div class="container">
            <div class="row">

                <div class="col-lg-12">
                    <div class="row member align-items-center">
                        <div class="col-md-4">
                            <img src="images/new_kareem.jpg" class="img-fluid" alt="">
                        </div>
                        <div class="col-md-8 pt-5 pt-md-0">
                            <div class="alignment_solve member-info">
                                <p class="member-heading lang" key="team2one_head">Eng. Abdul-Kareem A. El Mousa</p>
                                <span class="lang" key="team2two_head">Vice Chairman & Board Member</span>
                                <b class="lang" key="team2three_head">B.S Mechanical, Business Admin 2005, Vice Chairman El-Mousa Group</b>
                                <p class="member-para lang" key="team2four_head">The Kingdom of Saudi Arabia has large and different topography, which requires serious and special water solutions to extract water, deliver it, and distribute it up to the best efficiency with the least possible cost. The huge development in construction within the inhabited areas applies big challenges on all companies working in the pumping sector. NWWC is one of the pioneer companies in the water works field, but we emphasized on extracting and pumping water applications. It is why NWWC uses the slogan “Totally integrated pumping solutions.</p>
                                <div class="second_alignment social">
                                    <a href=""><i class="bi bi-linkedin team-icon"></i></a>
                                    <a href=""> <i class="bi bi-twitter team-icon"></i></a>
                                    <a href=""><i class="bi bi-instagram team-icon"></i></a>
                                    <a href=""><i class="bi bi-facebook team-icon"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>


<script src="js/jquery.js"></script>
<script>
    $(window).on("scroll", function () {
        if (matchMedia('only screen and (min-width: 1200px)').matches) {
            if ($(window).scrollTop() >= 50) {

                $('.ttm-stickable-header').addClass('fixed-header');
            } else {

                $('.ttm-stickable-header').removeClass('fixed-header');
            }
        }
    });
</script>