

<script>
    document.title = 'Eng. Essam M. Zahra || NWWC - National Water Works CO';
</script>


<link rel="stylesheet" type="text/css" href="css/team.css" />
<link rel="stylesheet" type="text/css" href="css/career.css" />
<link rel="stylesheet" type="text/css" href="css/o-team.css" />

<!-- page-title -->  
<div class="container">
    <div class="ttm-page-title-row ttm-bg ttm-bgimage-yes ttm-bgcolor-darkgrey clearfix custom-team-banner">
        <div class="ttm-row-wrapper-bg-layer ttm-bg-layer" style="border-radius: 7px;"></div>
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-12">
                    <div class="ttm-page-title-row-inner">
                        <div class="page-title-heading">
                            <h4 class="title lang" key="chief_e">Chief Executive Officer</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- page-title end -->



<div class="container">
    <section id="team" class="team team-bg py-5">
        <div class="container">
            <div class="row">

                <div class="col-lg-12">
                    <div class="row member align-items-center">
                        <div class="col-md-4">
                            <img src="images/ceo.jpeg" class="img-fluid" alt="">
                        </div>
                        <div class="col-md-8 pt-5 pt-md-0">
                            <div class="alignment_solve member-info">
                                <p class="member-heading lang" key="team3one_head">Eng. Essam M. Zahra</p>
                                <span class="lang" key="team3two_head">Chief Executive Officer & Board Member</span>
                                <b class="lang" key="team3three_head">B.S of AGRI-Mechanical Engineering</b>
                                <b class="lang" key="team3four_head">Diploma in international business communications -Chapman UNI CA, USA Finance for Management</b>
                                <p class="member-para lang" key="team3five_head">The story of water is as long as the foundations of the earth. The Kingdom of Saudi Arabia needs water solutions that a both efficient and low energy. The remarkable developments in infrastructure and population have led to new challenges in the water sector. The National Water Works Company is one of the pioneer companies in the water business, we are your partners in the water industries.</p>
                                <div class="second_alignment social">
                                    <a href=""><i class="bi bi-linkedin team-icon"></i></a>
                                    <a href=""> <i class="bi bi-twitter team-icon"></i></a>
                                    <a href=""><i class="bi bi-instagram team-icon"></i></a>
                                    <a href=""><i class="bi bi-facebook team-icon"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>



<script src="js/jquery.js"></script>
<script>
    $(window).on("scroll", function () {
        if (matchMedia('only screen and (min-width: 1200px)').matches) {
            if ($(window).scrollTop() >= 50) {

                $('.ttm-stickable-header').addClass('fixed-header');
            } else {

                $('.ttm-stickable-header').removeClass('fixed-header');
            }
        }
    });
</script>