

<script>
    document.title = 'Dr. Nasser A. El Mousa || NWWC - National Water Works CO';
</script>
 

<link rel="stylesheet" type="text/css" href="css/team.css" />
<link rel="stylesheet" type="text/css" href="css/career.css" />
<link rel="stylesheet" type="text/css" href="css/o-team.css" />


<!-- page-title --> 
<div class="container">
    <div class="ttm-page-title-row ttm-bg ttm-bgimage-yes ttm-bgcolor-darkgrey clearfix custom-team-banner">
        <div class="ttm-row-wrapper-bg-layer ttm-bg-layer" style="border-radius: 7px;"></div>
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-12">
                    <div class="ttm-page-title-row-inner">
                        <div class="page-title-heading">
                            <h4 class="title lang" key="chairman">Chariman</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- page-title end -->



<div class="container">
    <section id="team" class="team team-bg py-5">
        <div class="container">
            <div class="row">

                <div class="col-lg-12">
                    <div class="row member align-items-center">
                        <div class="col-md-4">
                            <img src="images/chariman.png" class="img-fluid" alt="">
                        </div>
                        <div class="col-md-8 pt-5 pt-md-0">
                            <div class="alignment_solve member-info">
                                <p class="alignment_solve member-heading lang" key="teamone_head">Dr. Nasser A. El Mousa</p>
                                <span class="alignment_solve lang" key="teamtwo_head">Chariman of the Board</span>
                                <b class="alignment_solve lang" key="teamthree_head">Ph.D. Environmental Science, Eng BS EL-Mousa Group Chairman.</b>
                                <p class="alignment_solve member-para lang" key="teamfour_head">“Allah’s biggest grace in this life is “Water,” as Allah says in Quran, “We created from water every living thing,” (Al’anbiya-Verse 30). Water is our most precious resource. This is why we established NWWC and worked to bring about the best new technologies in the water sector, extracting water and pumping it to the required destination. We care about every single drop, from first to last.</p>
                                <div class="alignment_solve second_alignment social">
                                    <a href=""><i class="bi bi-linkedin team-icon"></i></a>
                                    <a href=""> <i class="bi bi-twitter team-icon"></i></a>
                                    <a href=""><i class="bi bi-instagram team-icon"></i></a>
                                    <a href=""><i class="bi bi-facebook team-icon"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>


<script src="js/jquery.js"></script>
<script>
    $(window).on("scroll", function () {
        if (matchMedia('only screen and (min-width: 1200px)').matches) {
            if ($(window).scrollTop() >= 50) {

                $('.ttm-stickable-header').addClass('fixed-header');
            } else {

                $('.ttm-stickable-header').removeClass('fixed-header');
            }
        }
    });
</script>