@{
    ViewData["Title"] = "History Page";
}

<link rel="stylesheet" type="text/css" href="css/career.css" />
<script>
    document.title = 'Thank You || NWWC - National Water Works CO';
</script>
<div class="blue-pattern">

    <div class="container my-5 py-5 ">
        <div class="row justify-content-center">
            <div class="col-md-11">
                <div class="row justify-content-center">
                    <div class="col-md-12 px-0">
                        <section class="history-specail">
                            <div class="row  text-center">
                                <div class="col-12">
                                    <h1 class="mb02">Thank You</h1>
                                    <p class="mb-5 pb-2">Thank You For Submit The Form!</p>
                                    <a href="/index" style="background: #0070cd !important; border-color: #0070cd;" class="drop-in px-3 py-2 ttm-btn ttm-btn-size-md ttm-btn-style-fill ttm-btn-shape-rounded ttm-btn-color-dark">Go To Home</a>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>
        </div>



<script src="js/jquery.js"></script>
