@{
    ViewData["Title"] = "Who We Are Page";
}

<script>
    document.title = 'Who We Are || NWWC - National Water Works CO';
</script>


<link rel="stylesheet" type="text/css" href="css/career.css" />

<link rel="stylesheet" type="text/css" href="css/our-company.css" />

<link rel="stylesheet" type="text/css" href="css/o-team.css" />

<link rel="stylesheet" type="text/css" href="css/faq.css" />
<div class="blue-pattern">
    <!-- page-title -->
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-11">
                <div class="ttm-page-title-row ttm-bg ttm-bgimage-yes ttm-bgcolor-darkgrey clearfix custom-who-banner">
                    <div class="ttm-row-wrapper-bg-layer ttm-bg-layer" style="border-radius: 7px;"></div>
                    <div class="container">
                        <div class="row align-items-center">
                            <div class="col-lg-12">
                                <div class="ttm-page-title-row-inner">
                                    <div class="page-title-heading">
                                        <h4 class="title lang" key="who">Who We Are</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- page-title end -->






    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-11">
                <section class="custom_mission_view pt-5">
                    <div class="container">
                        <div class="row align-items-center">
                            <div class="col-md-12 px-0">
                                <div class="row">
                                    <div class="col-lg-4">
                                        <div class="mission_box">
                                            <div class="alignment_solve w-100">
                                                <h4 class="alignment_solve mb-2 mt-0 grey-underline lang" key="who_mission">Our Mission</h4>
                                                <p class="alignment_solve mb-0 pb-0 pt-2 lang" key="who_mission_des">NWWC provides totally integrated pumping solutions for all customers' various needs.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 pt-3 pt-lg-0">
                                        <div class="mission_box">
                                            <div class="alignment_solve w-100">
                                                <h4 class="alignment_solve mb-2 mt-0 grey-underline lang" key="who_vision">Our Vision</h4>
                                                <p class="alignment_solve mb-0 pb-0 pt-2 lang" key="who_vision_des"><b>NWWC a high</b> quality products company, that provides innovative services and solutions. We are competitive player in the industry, and the best choices for investors and workers in the water sector.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4  pt-3 pt-lg-0">
                                        <div class="mission_box">
                                            <div class="alignment_solve w-100">
                                                <h4 class="alignment_solve mb-2 mt-0 grey-underline lang" key="who_objective">Our Objective</h4>
                                                <p class="alignment_solve mb-0 pb-0 pt-2 lang" key="who_objective_des">NWWC’s objective is to successfully manage the distribution of usable water to Saudi communities, as well as the safe and efficient disposal of water wastes by means of efficient and reliable pumping systems. </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>













    <div class="container">
        <section class="custom_mission_view">
            <div class="row justify-content-center">
                <div class="col-md-11">
                    <div class="row pt-2 mx-lg-0 mt-5 custom-top-border">
                        <div class="col-lg-6 pl-lg-0 pt-4">
                            <img style="height: 250px; object-fit: cover;" class="img-fluid w-100 rounded" src="images/new_new.jpg">
                        </div>
                        <div class="col-lg-6 pt-4 pr-lg-0">
                            <p class="alignment_solve lang" key="who_des1">
                                We would like to take this opportunity to introduce ourselves as a leading Saudi Company specializing in supplying water pumping Systems and associated accessories as well as contracting all related work types including handling, implementing electro-mechanical projects that support water stations.
                            </p>
                            <p class="alignment_solve pt-2 lang" key="who_des2">
                                Waste water treatment plants, underground water sources and fire suppression systems for both the public (Municipalities) and private (Industrial) sectors.
                            </p>
                            <p class="pt-2 alignment_solve lang" key="who_des3">We have a long successful proven history in all provinces of the kingdom of Saudi Arabia through our Activities Refer to initial company <b class="text-dark">“Saudi mechanical industries co”</b> established in 1982 and considered as one of the major Arabic factories producing vertical turbine pumps and accessories and exporting it to over 26 countries.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>




    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-11">
                <section class="custom_mission_view pt-4">
                    <div class="container">
                        <div class="row align-items-center pt-1">
                            <div class="col-md-12 px-0">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <!-- mission_box -->
                                        <div class="" style="height :auto;">
                                            <div class="alignment_solve w-100">
                                                <h4 class="mb-2 mt-0 grey-underline lang" key="who_speacil">Specialists in the Design, Supply, Installation and Service of Complete Water Pumping Systems</h4>
                                                <div class="mt-3">
                                                    <div class="row mb-3">
                                                        <div class="col-lg-3 col-sm-6">
                                                            <div class="alignment_solve who-shadow  mission_box">
                                                                <div class="pl-2">
                                                                    <b class="text-dark lang" key="who_s_head1">Commercial</b>
                                                                    <p class=alignment_solve "mb-0 lang" key="who_s_head1" style="color: #777 !important">The company offers cost-efficient water engineering services for large and small-scale buildings and domestic service projects. These services include drainage, firefighting systems and water supply.</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-3 col-sm-6  pt-sm-0 pt-3">
                                                            <div class="alignment_solve who-shadow mission_box">
                                                                <div class="pl-2">
                                                                    <b class="text-dark lang" key="who_s_head2">Supply & Install Projects</b>
                                                                    <p class="alignment_solve mb-0 lang" key="who_s_des2" style="color: #777 !important">Specialists in the design, supply, installation and service of complete water pumping systems.</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-3 col-sm-6 pt-lg-0 pt-3">
                                                            <div class="alignment_solve who-shadow mission_box">
                                                                <div class="pl-2">
                                                                    <b class="text-dark lang" key="who_s_head3">O&M</b>
                                                                    <p class="alignment_solve mb-0 lang" key="who_s_des3" style="color: #777 !important">The company offers comprehensive operation, maintenance and after-sales services, providing high quality spare parts and a round-the-clock troubleshooting service.</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-3 col-sm-6 pt-lg-0 pt-3">
                                                            <div class="alignment_solve who-shadow mission_box">
                                                                <div class="pl-2">
                                                                    <b class="text-dark lang" key="who_s_head4">EPC Projects</b>
                                                                    <p class="alignment_solve mb-0 lang" key="who_s_des4" style="color: #777 !important">This division is the master business module responsible for JV, strategic business development.</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>



    <div class="container mt-4 mb-5 pb-5">
        <div class="row justify-content-center">
            <div class="col-md-11">
                <div class="row">
                    <div class="col-12">
                        <h4 class="grey-underline h4 lang" key="who_sector">Our Sectors</h4>
                    </div>
                </div>
                <div class="row justify-content-center pt-4 new-sector">
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="sector-box" style="background: #aec54e">
                            <img src="images/sector/1.jpeg" alt="">
                            <div class="alignment_solve text-sector"><h5 class="alignment_solve lang" key="who_trading">Trading</h5></div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 pt-4 pt-sm-0">
                        <div class="sector-box" style="background: silver">
                            <img src="images/sector/2.png" alt="">
                            <div class="alignment_solve text-sector"><h5 class="alignment_solve lang" key="who_project">Projects & contracting</h5></div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 pt-4 pt-lg-0">
                        <div class="sector-box" style="background: #d9effc">
                            <img src="images/sector/3.png" alt="">
                            <div class="alignment_solve text-sector"><h5 class="alignment_solve lang" key="who_operation" style="color: #000 !important">Operation & maintenance </h5></div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>




    <!--

    <section class="our-sectors mt-5 pb-0">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-11">
                    <div class="row">
                        <div class="col-12">
                            <h4 class="grey-underline h4">Our Sectors</h4>
                        </div>
                    </div>
                    <div class="row pt-4">
                        <div class="col-lg-4 col-sm-6">
                            <div class="sector-box">
                                <img src="images/sector/1.jpg" alt="">
                                <div class="text-sector"><h5>Trading</h5></div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-6 pt-4 pt-sm-0">
                            <div class="sector-box">
                                <img src="images/sector/2.jpg" alt="">
                                <div class="text-sector"><h5>Technical Services</h5></div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-6 pt-4 pt-lg-0">
                            <div class="sector-box">
                                <img src="images/sector/3.jpg" alt="">
                                <div class="text-sector"><h5>Projects & Contracting</h5></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section> -->
    <!-- <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-11">
                <div class="row">
                    <div class="col-12">
                        <h4 class="grey-underline h4">Our Sectors</h4>
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col-lg-4 col-md-6">
                        <div class="team__item team__item2 set-bg" style="background:linear-gradient(to right, rgb(0, 0, 0, 0.2), rgb(0, 0, 0, 0.2)), url('images/sector/1.jpg') no-repeat center;">
                            <div class="team__text team_text2">
                                <div class="team__title">
                                    <h4>Trading</h4>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6">
                        <div class="team__item team__item2 set-bg" style="background:linear-gradient(to right, rgb(0, 0, 0, 0.2), rgb(0, 0, 0, 0.2)), url('images/sector/2.jpg') no-repeat center;">
                            <div class="team__text team_text2">
                                <div class="team__title">
                                    <h4>Technical Services</h4>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6">
                        <div class="team__item team__item2 set-bg" style="background:linear-gradient(to right, rgb(0, 0, 0, 0.2), rgb(0, 0, 0, 0.2)), url('images/sector/3.jpg') no-repeat center;">
                            <div class="team__text team_text2">
                                <div class="team__title">
                                    <h4>Projects & Contracting</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> -->







</div>


<script src="js/jquery.js"></script>
<script>
    $(window).on("scroll", function () {
        if (matchMedia('only screen and (min-width: 1200px)').matches) {
            if ($(window).scrollTop() >= 50) {

                $('.ttm-stickable-header').addClass('fixed-header');
            } else {

                $('.ttm-stickable-header').removeClass('fixed-header');
            }
        }
    });

    $('#about').addClass('header-mennu-active');





    //<![CDATA[
    let toggles = document.getElementsByClassName("toggle");
    let contentDiv = document.getElementsByClassName("content");
    let icons = document.getElementsByClassName("icon");

    for (let i = 0; i < toggles.length; i++) {
        toggles[i].addEventListener("click", () => {
            if (parseInt(contentDiv[i].style.height) != contentDiv[i].scrollHeight) {
                contentDiv[i].style.height = contentDiv[i].scrollHeight + "px";
                toggles[i].style.color = "#fff";
                icons[i].classList.remove("bi-plus-lg");
                icons[i].classList.add("bi-dash");
            } else {
                contentDiv[i].style.height = "0px";
                toggles[i].style.color = "#fff";
                icons[i].classList.remove("bi-dash");
                icons[i].classList.add("bi-plus-lg");
            }

            for (let j = 0; j < contentDiv.length; j++) {
                if (j !== i) {
                    contentDiv[j].style.height = 0;
                    toggles[j].style.color = "#fff";
                    icons[j].classList.remove("bi-dash");
                    icons[j].classList.add("bi-plus-lg");
                }
            }
        });
    }
    //]]>
</script>
